<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'PAYMENT' | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card mb-0 content-body">
        <div class="card-header">
          {{'STATUS_CMI' | translate }}
        </div>
        <div class="card-content">
          <div class="card-body">



<div class="card-content">
  <div class="card-body">
    <div class="alert alert-danger text-center" role="alert">
      <br><div class="fa fa-times fa-5x" ></div>
      <h4 class="alert-heading">
        {{'PAYMENT-FAIL' | translate }}</h4>
      <p><br>
        {{'EMAIL_TEXT_INFO' | translate }} ({{emailRadem}})
        {{'OR_TEL' | translate }}  {{Tel}}
      </p>
       </div>
  </div>
</div>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
