<ng-template #service_form>
    <form role="form" [formGroup]="serviceForm" novalidate>
        <div class="col-12 my-2">
            <div class="form-group">
                <label for="name" class="control-label">{{'NAME_OF_SERVICE' | translate}} <span class="danger">*</span>
                    : </label>
                <input formControlName="name" id="name" type="text" class="form-control required"
                       placeholder="{{'NAME_OF_SERVICE' | translate}}">
                <div class="text-danger"
                     *ngIf="!serviceForm.controls['name'].valid && serviceForm.controls['name'].touched">
                    <div *ngIf="serviceForm.controls['name'].errors.required">
                        {{'The_alert_designation_is_mandatory' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">{{'DESCRIPTION' | translate}} :</label>
                <textarea formControlName="description" id="description"
                          class="form-control"></textarea>
            </div>
        </div>
    </form>
</ng-template>

<div *ngIf="!modalRef; else modal">
    <div class="modal-body" *ngIf="modalRef; else service_form"></div>
    <div class="row col-md-12">
        <button [routerLink]="['/admin/services']" class="btn btn btn-outline-primary ml" (click)="createService()"
                *ngIf="!serviceId"
                [disabled]="serviceForm.invalid">Enregistrer{{'SAVE' | translate}}
        </button>
        <button [routerLink]="['/admin/services']" class="btn btn btn-outline-primary ml" (click)="saveService()"
                *ngIf="serviceId"
                [disabled]="serviceForm.invalid">Modifier{{'MODIFY' | translate}}
        </button>
    </div>
</div>

<ng-template #modal>
    <div class="modal-header bg-radem">
        <h4 class="modal-title pull-left" *ngIf="!service?.id">{{'ADD_NEW_SERVICE' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="service?.id">{{'MODIFY_SERVICE' | translate}}
            <strong>{{service.name}}</strong></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Fermer">
            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
        </button>
    </div>

    <div class="modal-body" *ngIf="!modalRef; else service_form"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide();"> {{'CANCEL' | translate}}
        </button>
        <button type="submit" class="btn btn btn-outline-primary" (click)="createService()" *ngIf="!serviceId"
                [disabled]="serviceForm.invalid">{{'SAVE' | translate}}
        </button>
        <button type="submit" class="btn btn btn-outline-primary" (click)="saveService()" *ngIf="serviceId"
                [disabled]="serviceForm.invalid">{{'MODIFY' | translate}}
        </button>
    </div>
</ng-template>

