<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'PAYMENT' | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card mb-0">
        <div class="card-header">
          {{'STATUS_CMI' | translate }}
        </div>
        <div class="card-content">
          <div class="card-body">


              <div class="lessons-list">
                <div class="alert alert-success text-center" role="alert">
                  <br><div class="fa icon-check fa-5x" ></div><br><br>
                  <h4 class="alert-heading">Paiement Effectué</h4>
                  <p>Le paiement s'est bien déroulé votre numéro de transaction est {{oid}}.<br>
                    pour toute question ou information aditionnelle, prière de prendre contact avec notre département commercial par email ({{emailRadem}})
                    ou par téléphone {{Tel}}
                  </p>
                  <hr>
                  <p class="mb-0">Veuillez cliquer sur le lien pour revenir à la page d'<a href="{{home}}">accueil </a> </p>
                </div>
              </div>



          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
