<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'PAYMENT' | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card mb-0">
        <div class="card-header">
          <h4 class="card-title">{{'PAYMENT_SUCCEES' | translate }}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

             Your payement has succeeded



          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
