<!--Tooltip Starts-->
<div class="content-header row">
   <div class="content-header-left col-md-6 col-12 mb-1">
      <h3 class="content-header-title">{{'CLAIMS' | translate }}</h3>
   </div>
</div>
<div class="content-body">
   <section class="row">
      <div class="col-sm-12">
         <!-- What is-->
         <div id="what-is" class="card">
            <div class="card-header">
               <h4 class="card-title">{{'Consult_your_requests' | translate }}</h4>
               <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
               </div>
            </div>
            <div class="card-content collapse show">
               <div class="card-body">
                  <div class="card-text text-center">
                     <span style="letter-spacing:0.1em;">EN CONSTRUCTION</span>
                  </div>
               </div>
            </div>
            <!--/ What is-->
         </div>
      </div>
   </section>
</div>
