<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'PAYMENT' | translate }}
      </h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card mb-0">
        <div class="card-header">
          <h4 class="card-title">{{'PAYMENT' | translate }}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table">
              <thead class="table-light">
              <tr>
                <th scope="col">{{'CONTRACT_NO' | translate }}</th>
                <th scope="col">{{'BILL_NUMBER' | translate }}</th>
                <th scope="col">{{'AMOUNT' | translate }} (Dhs)</th>
              </tr>
              </thead>
              <tbody>
              <app-data-not-available
                *ngIf="!selectedBills || selectedBills.invoices.length == 0; else dataAvailable"
                [colSpan]="4">
              </app-data-not-available>
              <ng-template #dataAvailable>
                <tr *ngFor="let invoice of selectedBills.invoices">
                  <td>{{invoice.contractNo}}</td>
                  <td>{{invoice.invoiceNo}}</td>
                  <td>{{invoice.amount}}</td>
                </tr>
              </ng-template>
              </tbody>
            </table>

          </div>
        </div>
        <!--/ What is-->

        <div class="pull-right">

          <form class="row col-md-12 text-right pull-right" #form ngNoForm action="{{sendDataUrl}}" method="post">


            <input class="btn btn btn-outline-secondary mb-2" type="submit"
                   value="Procéder au paiement" />


            <input type="hidden" name="clientid" value="{{clientId}}">
            <input type="hidden" name="amount" value="{{selectedBills.total}}">
            <input type="hidden" name="okUrl" value="{{okUrl}}">
            <input type="hidden" name="failUrl" value="{{failUrl}}">
            <input type="hidden" name="TranType" value="{{transactionType}}">
            <input type="hidden" name="callbackUrl" value="{{callbackUrl}}">
            <input type="hidden" name="shopurl" value="{{shopUrl}}">
            <input type="hidden" name="currency" value="{{currency}}">
            <input type="hidden" name="rnd" value=""> <!-- TODO -->
            <input type="hidden" name="storetype" value="3D_PAY_HOSTING">
            <input type="hidden" name="hashAlgorithm" value="ver3">
            <input type="hidden" name="lang" value="fr">
            <input type="hidden" name="refreshtime" value="5">
            <input type="hidden" name="BillToName" value="{{user?.firstname + ' ' + user?.lastname}}">
            <input type="hidden" name="BillToCompany" value="RADEM">
            <input type="hidden" name="BillToStreet1" value="{{user?.address}}">
            <input type="hidden" name="BillToCountry" value="504">
            <input type="hidden" name="email" value="{{user?.email}}">
            <input type="hidden" name="tel" value="{{user?.phone}}">
            <input type="hidden" name="encoding" value="UTF-8">
            <input type="hidden" name="oid" value=""> <!-- TODO La valeur du param?tre oid doit ?tre unique par transaction -->

          </form>

        </div>

      </div>
    </div>
  </section>
</div>
