<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark"
                                          style="color: #2c5599;"></i> {{'Request_for_embranchment' | translate}}</h3>
    </div>
    <!--<div class="col-md-6 col-12 text-right container-btn-new-subscription-request">-->
      <!--<a routerLink="/services/new-embranchement-request" class="btn btn-primary btn-new-subscription-request">-->
        <!--<i class="fa fa-plus"></i> {{'New_request_for_embranchment' | translate}}</a>-->
    <!--</div>-->
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="mb-0">
        <div class="card-content collapse show">
          <div class="card-body">
            <div class="card-text">
              <div class="col-12">
                <div class="row">
                  <label class="col-form-label">{{'CONTRACT' | translate }} <span
                    class="danger">*</span>:</label>
                  <div class="col-3">
                    <select type="text" class="custom-select" #s
                            (change)="setContract(s.value)" [(ngModel)]="selectedContract">
                      <option value="" disabled selected>{{'CHOOSE_A_CONTRACT' | translate}} ...</option>
                      <option *ngFor="let contract of clientContracts" value="{{contract.contractNo}}">
                        {{contract.contractNo}}
                        ({{contract.type}})
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="table-responsive mt-2">
                <table class="table">
                  <thead class="table-light">
                  <tr>
                    <th scope="col">{{'REQUEST_NUMBER' | translate }}</th>
                    <th scope="col">{{'CREATED_ON' | translate }}</th>
                    <!--<th scope="col">{{'TYPE' | translate }}</th>-->
                    <th scope="col">{{'Status' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <app-data-not-available
                    *ngIf="!embranchmentRequests || embranchmentRequests.length == 0; else dataAvailable"
                    [colSpan]="4"></app-data-not-available>
                  <ng-template #dataAvailable>
                    <tr *ngFor="let request of embranchmentRequests">
                      <td><a
                        [routerLink]="['/services/embranchment-detail/', request.requestNo]"><b>{{request.requestNo}}</b></a>
                      <td>{{request.createdAt | date:'dd/M/yyyy'}}</td>
                      <!--<td>{{request.networkType | translate }}</td>-->
                      <td>
                        <app-badge [status]="request.status.status"></app-badge>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
                <app-pagination [showPagination]="totalPages > 1"
                                [numberOfItems]="numberOfItems"
                                [itemsPerPage]="itemsPerPage"
                                [totalItems]="totalElements"
                                [totalPages]="totalPages"
                                (onpageChanged)="pageChanged($event)"></app-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
  <div class="content">
    <div class="deck card-deck-outline">
      <div class="deck-body">
        <h4 class="card-deck-title mb-0">{{'ADVICE_AND_ENERGY_SAVING' | translate}}</h4>
        <div class="card-deck-content">
          <div class="card-body">
            <div [innerHTML]="advices?.value || '' | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
