<div class="table-responsive mx-auto">
    <div class="row justify-content-between">
        <div class="col-12">
            <div class="float-left">
                <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th *ngIf="multiBillSelect">
                <input type="checkbox" class="form-control" (change)="selectAll($event)">
            </th>
            <th scope="col">{{'YEAR' | translate }}</th>
            <th scope="col">{{'MONTH' | translate }}</th>
            <th scope="col">{{'TOTAL_BALANCE' | translate }}</th>
            <th scope="col">{{'BALANCE_DUE' | translate }} (Dhs)</th>
        </tr>
        </thead>
        <tbody>
        <app-data-not-available *ngIf="!bills || bills.length == 0; else dataAvailable"
                                [colSpan]="7"></app-data-not-available>
        <ng-template #dataAvailable>
            <tr *ngFor="let bill of bills">
                <td scope="row" *ngIf="multiBillSelect">
                    <input type="checkbox" class="form-control"
                           (change)="addBill($event, bill)"/>
                </td>
                <td>{{bill.anneeTrn}}</td>
                <td>{{bill.periode}}</td>
                <td>{{bill.solde}}</td>
                <td>{{bill.soldeExigible}}</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>

<app-pagination [disabled]="false"
                [numberOfItems]="numberOfItems"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalElements"
                [totalPages]="totalPages"
                (onpageChanged)="pageChanged($event)"></app-pagination>
