<div class="table-responsive mx-auto">
    <div class="row justify-content-between">
        <div class="col-12">
            <div class="float-left">
                <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
            </div>
        </div>
    </div>
    <table class="table table-bordered "
           sortable-table (sorted)="onSorted($event)"
           filterable-table (filtred)="onFiltred($event)">
        <thead>
        <tr>
            <th>
                <input type="checkbox" class="form-control" (change)="selectAll($event)">
            </th>
            <th scope="col">{{'YEAR' | translate }}
                <span sortable-column="anneeTrn"></span>
                <span filterable-column="anneeTrn" filter-type="text"
                      filter-placeholder="{{'YEAR' | translate }}"></span>
            </th>
            <th scope="col">{{'MONTH' | translate }}
                <span sortable-column="periode"></span>
                <span filterable-column="periode" filter-type="text"
                      filter-placeholder="{{'MONTH' | translate }}"></span>
            </th>
            <th scope="col">{{'TOTAL_BALANCE' | translate }}
                <span sortable-column="solde"></span>
                <span filterable-column="solde" filter-type="date"
                      filter-placeholder="{{'TOTAL_BALANCE' | translate }}"></span>
            </th>
            <th scope="col">{{'BALANCE_DUE' | translate }} (Dhs)
                <span sortable-column="soldeExigible"></span>
                <span filterable-column="soldeExigible" filter-type="text"
                      filter-placeholder="{{'BALANCE_DUE' | translate }} (Dhs)"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <app-data-not-available *ngIf="!bills || bills.length == 0; else dataAvailable"
                                [colSpan]="7"></app-data-not-available>
        <ng-template #dataAvailable>
            <tr *ngFor="let bill of bills">
                <td scope="row">
                    <input type="checkbox" class="form-control"
                           (change)="addBill($event, bill)"/>
                </td>
                <td>{{bill.anneeTrn}}</td>
                <td>{{bill.periode}}</td>
                <td>{{bill.solde}}</td>
                <td>{{bill.soldeExigible}}</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>

<app-pagination [disabled]="false"
                [numberOfItems]="numberOfItems"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalElements"
                [totalPages]="totalPages"
                (onpageChanged)="pageChanged($event)"></app-pagination>
