<div class="modal-header bg-radem">
    <h4 class="modal-title pull-left" *ngIf="!alertId">{{'ADD_NEW_ALERT' | translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="alertId">{{'MODIFY_ALERT' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Fermer">
        <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
    </button>
</div>
<div class="modal-body">
    <form role="form" novalidate [formGroup]="formAlert">
        <div class="form-group">
            <label for="title" class="control-label">{{'DESIGNATION' | translate}}<span class="danger">*</span> </label>
            <input formControlName="title" id="title" name="name" type="text" placeholder="{{'DESIGNATION' | translate}}"
                   class="form-control required">
            <div class="text-danger"
                 *ngIf="!formAlert.controls['title'].valid && formAlert.controls['title'].touched">
                <div *ngIf="formAlert.controls['title'].errors.required">
                    {{'The_alert_designation_is_mandatory' | translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="instructions" class="control-label">Instructions <span class="danger">*</span></label>
            <textarea rows="3" formControlName="instructions" id="instructions" name="name"
                      class="form-control required"></textarea>
            <div class="text-danger"
                 *ngIf="!formAlert.controls['instructions'].valid && formAlert.controls['instructions'].touched">
                <div *ngIf="formAlert.controls['instructions'].errors.required">
                    {{'Alert_instructions_are_required' | translate}}
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide();">
      {{'CANCEL' | translate}}
    </button>
    <button type="submit" class="btn btn btn-outline-primary" (click)="createAlert();" *ngIf="!alertId"
            [disabled]="formAlert.invalid">
      {{'SAVE' | translate}}
    </button>
    <button type="submit" class="btn btn btn-outline-primary" (click)="saveAlert();" *ngIf="alertId"
            [disabled]="formAlert.invalid">
      {{'MODIFY' | translate}}
    </button>
</div>
