<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Mes réglements</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Mes réglements
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body" id="table">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Consulter vos réglements</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-content collapse show">
          <form class="" [formGroup]="contractForm">
            <div class="card-body">
              <div class="row col-md-12 form-group">
                <label class="col-form-label">Contrat <span class="danger">*</span>:</label>
                <div class="col-3">
                  <select formControlName="contract" type="text" class="custom-select" #t
                          (change)="setContract(t.value)">
                    <option value="" disabled selected>Choisissez un contrat..</option>
                    <option *ngFor="let contract of contracts" value="{{contract.id}}">{{contract.contractNumber}}
                      ({{contract.contractType}})
                    </option>
                  </select>
                </div>
                <label class="col-form-label">Periode du <span class="danger">*</span> :</label>
                <div class="col-auto">
                  <input formControlName="startDate" type="date" class="form-control">
                </div>
                <label class="col-form-label">Au <span class="danger">*</span></label>
                <div class="col-auto">
                  <input formControlName="endDate" type="date" class="form-control">
                </div>
                <div class="col-auto float-right row">
                  <button type="button" class="btn btn btn-outline-primary" (click)="recherche();"><i class="fa fa-search"></i>
                  </button>
                  &nbsp;
                  <div class="btn-group" dropdown>
                    <button dropdownToggle class="btn btn btn-outline-primary dropdown-toggle download" type="button"><i
                      class="fa fa-download"></i></button>

                    <div aria-labelledby="dropdownUser" *dropdownMenu="" class="dropdown-menu">
                      <a class="dropdown-item" (click)="downloadPdfSettlements()">
                        <i class="fa fa-file-pdf-o"></i> Format Pdf
                      </a>
                      <a class="dropdown-item" (click)="downloadXlsSettlements()">
                        <i class="fa fa-file-excel-o"></i> Format Excel
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive mx-auto">
                <table class="table table-bordered ">
                  <thead class="table-light">
                  <tr>
                    <th scope="col">Période de facturation</th>
                    <th scope="col">Nº Facture</th>
                    <th scope="col">Type de facture</th>
                    <th scope="col">Date de réglement</th>
                    <th scope="col">Montant en DH TTC</th>
                    <th scope="col">Mode de réglement</th>
                  </tr>
                  </thead>
                  <tbody>

                  <app-data-not-available *ngIf="!settlements || settlements.length == 0; else dataAvailable" [colSpan]="6"></app-data-not-available>

                  <ng-template #dataAvailable>
                    <tr *ngFor="let settlement of settlements">
                      <td>{{settlement.billingPeriod}}</td>
                      <td>{{settlement.billNumber}}</td>
                      <td>{{settlement.billType}}</td>
                      <td>{{settlement.settlementDate}}</td>
                      <td>{{settlement.amount}}</td>
                      <td>{{settlement.SettlementMode}}</td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--/ What is-->
    </div>
  </section>
</div>
