.table th, .table td {
  padding: 0.75rem 1rem !important;
}

.network-icon {
  display: inline-block;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 26px;
  text-align: right;
  margin: 0;
  padding: 0;

  i {
    font-size: 1.25em;
  }
}
.marginVisual {
  margin-top: -21px;
  margin-left: -36px;
  margin-right: -36px;
}
.sub-header {
  padding: 0;

  .sub-title, .icon, .contract-dropdown {
    font-size: 1.1rem !important;
  }

  .content-header {
    .contract-dropdown {
      height: calc(2.3rem);
      margin-top: -15px;
    }

    .align-items-center {
      width: 99.7%;
      margin: 0 auto;
    }

    .has-border {
      border-right: 1px solid #d3d3d3;
      line-height: 40.5px;
      height: 70.5px;
      overflow: hidden;

      label {
      }

      h6 {
        font-size: .9rem !important;
        margin-top: -9px;
      }

      select {
        font-size: .9rem !important;
      }
    }

    .has-border:last-child {
      border-right: 0px solid #d3d3d3;
    }

    .sub-title, .icon, .contract-dropdown {
      font-size: .9rem;
      color: #2c5599;

    }

    .status {
      label {
        text-transform: uppercase;
        margin-bottom: .5rem !important;
      }

      h6 {
        font-size: .9rem !important;
        margin-top: -9px;
      }

      .icon {
        font-size: 0.8rem;
      }

      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.table-responsive {
  margin-top: 15px;
}

table th, table td {
  padding: 0.5rem 1.5rem !important;
}

.water {
  background-color: #2d91c7;
}

.undifined {
  background-color: #000000;
}

.fa-2x {
  font-size: 1.4em;
}

.electricity {
  background-color: #de3a42;
}

table {
  text-align: center;
}

.container-btn-actions{
  margin-top: 40px;
}
.tableTitle{
  padding: 0px !important;
}
.card-header{
  padding: 9px;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;
  h3{
    margin-top: 8px;
  }
}

/*
  Code par Rachid EL KADDOURI
  -- Responsive Design
 */
@media only screen and (max-width: 768px){
  .container-btn-actions{
    margin-top: 5px;
  }
}


.Bold_txt{
  font-weight: bold;
}

.content-body {
  .content {
    padding: 15px;
    .deck.solde:after {
      background-image: url("../../../../assets/images/money.png");
    }

    .deck:after {

      background-repeat: no-repeat;
      background-size: 29%;
      background-position: right bottom;
      opacity: 0.34;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      width: 95%;
      margin: 16px auto;
    }

    .deck {
      display: block;
      min-height: 200px;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 15px;
      .deck-body {
        padding: 15px;
        .title {
          font-weight: bold;
          font-size: 1.3rem;
        }
        .value {
          font-weight: bold;
          font-size: 2.7rem;
        }
      }
    }
    .card-deck-outline:after {
      background-image: url("../../../../assets/images/idea.png");
      background-size: 12%;
      width: 90%;
      margin: 40px auto;
    }
    .card-deck-outline {
      border: 1px solid #204072;
      border-radius: 5px;
      margin: 15px 0;
      max-height: 400px;
      overflow-y: scroll;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      .deck-body {
        padding: 15px;
      }
    }
  }
}
