.table th, .table td {
  padding: 0.75rem 1rem !important;
}

.network-icon {
  display: inline-block;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 26px;
  text-align: right;
  margin: 0;
  padding: 0;

  i {
    font-size: 1.25em;
  }
}

.table-responsive {
  margin-top: 15px;
}

table th, table td {
  padding: 0.5rem 1.5rem !important;
}

.water {
  background-color: #2d91c7;
}

.undifined {
  background-color: #000000;
}

.fa-2x {
  font-size: 1.4em;
}

.electricity {
  background-color: #de3a42;
}

table {
  text-align: center;
}

.container-btn-actions{
  margin-top: 40px;
}

.card-header{
  padding: 0.8rem;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;
  h3{
    margin-top: 8px;
  }
}

/*
  Code par Rachid EL KADDOURI
  -- Responsive Design
 */
@media only screen and (max-width: 768px){
  .container-btn-actions{
    margin-top: 5px;
  }
}
