<!--Tooltip Starts-->
<div class="content-header back col-12 mb-1 mt-1">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title">{{'MY_REGULATIONS' | translate}}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/home">{{'HOME' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'MY_REGULATIONS' | translate}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body" id="table">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="card mb-0">
                <div class="card-header">
                    <h4 class="card-title">{{'CONSULT_YOUR_REGULATIONS' | translate}}</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                    </div>
                </div>
                <div class="card-content collapse show">
                    <form class="" [formGroup]="contractForm">
                        <div class="card-body">
                            <div class="row col-md-12 form-group">
                                <label class="col-form-label">{{'CONTRACT' | translate}}<span class="danger">*</span>:</label>
                                <div class="col-3">
                                    <select formControlName="contract" type="text" class="custom-select" #t
                                            (change)="setContract(t.value)">
                                        <option value="" disabled selected>{{'CHOOSE_A_CONTRACT' | translate}} ...</option>
                    <option *ngFor="let contract of contracts" value="{{contract.id}}">
                      {{contract.contractNumber}}
                      ({{contract.contractType}})
                    </option>
                  </select>
                </div>
                                <label class="col-form-label">{{'PERIOD_OF' | translate}} <span class="danger">*</span> :</label>
                <div class="col-auto">
                  <input formControlName="startDate" type="date" class="form-control">
                </div>
                                <label class="col-form-label">{{'THE' | translate}} <span class="danger">*</span></label>
                                <div class="col-auto">
                                    <input formControlName="endDate" type="date" class="form-control">
                                </div>
                                <div class="col-auto float-right row">
                                    <button type="button" class="btn btn btn-outline-primary" (click)="recherche();"><i
                                            class="fa fa-search"></i>
                                    </button>
                                    &nbsp;
                                    <div class="btn-group" dropdown>
                                        <button dropdownToggle
                                                class="btn btn btn-outline-primary dropdown-toggle download"
                                                type="button"><i
                                                class="fa fa-download"></i></button>

                                        <div aria-labelledby="dropdownUser" *dropdownMenu="" class="dropdown-menu">
                                            <a class="dropdown-item" (click)="downloadPdfSettlements()">
                                                <i class="fa fa-file-pdf-o"></i>{{'PDF_FORMAT' | translate}}
                                            </a>
                                            <a class="dropdown-item" (click)="downloadXlsSettlements()">
                                                <i class="fa fa-file-excel-o"></i>{{'EXCEL_FORMAT' | translate}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mx-auto">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <div class="float-left">
                                            <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered "
                                       sortable-table (sorted)="onSorted($event)"
                                       filterable-table (filtred)="onFiltred($event)">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">{{'BILLIN_PERIOD' | translate }}
                                            <span sortable-column="billingPeriod"></span>
                                            <span filterable-column="billingPeriod" filter-type="text"
                                                  filter-placeholder="{{'BILLIN_PERIOD' | translate }}"></span></th>
                                        <th scope="col">{{'BILL_NUMBER' | translate }}
                      <span sortable-column="billNumber"></span>
                      <span filterable-column="billNumber" filter-type="text"
                                                  filter-placeholder="{{'BILL_NUMBER' | translate }}"></span>
                    </th>
                                        <th scope="col">{{'TYPE_OF_BILL' | translate }}
                      <span sortable-column="billType"></span>
                      <span filterable-column="billType" filter-type="text"
                                                  filter-placeholder="{{'TYPE_OF_BILL' | translate }}"></span>
                    </th>
                                        <th scope="col">{{'SETTLEMENT_DATE' | translate }}
                                            <span sortable-column="settlementDate"></span>
                                            <span filterable-column="settlementDate" filter-type="date"
                                                  filter-placeholder="{{'SETTLEMENT_DATE' | translate }}"></span>
                                        </th>
                                        <th scope="col">{{'AMOUNT_IN_DH_TTC' | translate }}
                                            <span sortable-column="amount"></span>
                                            <span filterable-column="amount" filter-type="text"
                                                  filter-placeholder="{{'AMOUNT_IN_DH_TTC' | translate }}"></span>
                                        </th>
                                        <th scope="col">{{'SETTLEMENT_MODE' | translate }}
                                            <span sortable-column="SettlementMode"></span>
                                            <span filterable-column="SettlementMode" filter-type="text"
                                                  filter-placeholder="{{'SETTLEMENT_MODE' | translate }}"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <app-data-not-available
                                            *ngIf="!settlements || settlements.length == 0; else dataAvailable"
                                            [colSpan]="6"></app-data-not-available>

                                    <ng-template #dataAvailable>
                                        <tr *ngFor="let settlement of settlements">
                                            <td>{{settlement.billingPeriod}}</td>
                                            <td>{{settlement.billNumber}}</td>
                                            <td>{{settlement.billType}}</td>
                                            <td>{{settlement.settlementDate}}</td>
                                            <td>{{settlement.amount}}</td>
                                            <td>{{settlement.SettlementMode}}</td>
                                        </tr>
                                    </ng-template>
                                    </tbody>
                                </table>
                                <app-pagination [disabled]="false"
                                                [numberOfItems]="numberOfItems"
                                                [itemsPerPage]="itemsPerPage"
                                                [totalItems]="totalElements"
                                                [totalPages]="totalPages"
                                                (onpageChanged)="pageChanged($event)"></app-pagination>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ What is-->
        </div>
    </section>
</div>
