#stackNav {
  .navbar-header {

  }
  .navbar-container {
    .nav {
      .dropdown {
        .avatar {
          width: 35px;
          img {
            width: 35px;
            height: 35px;
          }
        }
        .user-name {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.text-muted {
  color: #b2b8c3 !important;
}
