<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin"><i class="icon-settings"></i> Administration</a></li>
    <li class="breadcrumb-item active" aria-current="page">Conseil et économie d'énergie</li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4>Conseil et économie d'énergie</h4>
    </div>
    <div class="card-body">
      <form role="form" novalidate>
        <div class="col-12 my-2">
          <quill-editor #quillEditor [(ngModel)]="content" name="advicesContent"></quill-editor>
        </div>
        <div class="pull-right">
          <button class="btn btn btn-outline-primary" (click)="save()">
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
