<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark"
                                                style="color: #2c5599;"></i> {{'MY_INVOICES' | translate}}</h3>
        </div>
    </div>
</div>
<div class="content-body" id="table">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="mb-0">
                <div class="card-content collapse show">
                    <div class="card-header content-header back sub-header row">
                        <div class="col-12 content-header">
                            <div class="row align-items-center">

                                <!-- *T LISTE ******* -->
                                <div class="col-md-3 has-border">
                                    &nbsp;
                                    <label class="Cap">
                                        <i class="fa fa-list-ul icon "></i>&nbsp;
                                        {{"CONTRACT_LISTS" | translate}}
                                    </label>
                                    <select type="text" class="form-control contract-dropdown" [(ngModel)]="selectedContract"
                                            (ngModelChange)="setContract(selectedContract)">
                                        <option value="" disabled selected>{{'CHOOSE_A_CONTRACT' | translate}} ...</option>
                                        <option *ngFor="let contract of clientContracts" value="{{contract.contractNo}}">
                                            {{contract.contractNo}}
                                            ({{contract.type}})
                                        </option>
                                    </select>
                                </div>
                                <!-- *T END LISTE ******* -->

                                <!-- *T RAISON ******* -->
                                <div class="col-md-2 has-border" >
                                    <label class="Cap">
                                        <i class="fa fa-user icon"></i>&nbsp;
                                        {{"COMPANY_NAME" | translate}}
                                    </label>
                                    <h6 class="sub-title" [hidden]="!clientDetails">
                                        {{clientDetails?.holderFirstname}} {{clientDetails?.holderLastname}}
                                    </h6>
                                </div>
                                <!-- *T END RAISON ******* -->

                                <!-- *T ADDRESS ******* -->
                                <div class="col-md-4 has-border" >
                                    <label class="Cap">
                                        <i class="fa fa-map-marker icon"></i>&nbsp;
                                        {{"ADDRESS" | translate}}
                                    </label>
                                    <h6 class="sub-title" [hidden]="!clientDetails">{{clientDetails?.consumptionAddress}}</h6>
                                </div>
                                <!-- *T END ADDRESS ******* -->

                                <!-- *T STATUS ******* -->
                                <div class="col-md-3 has-border" >
                                    <!-- <div class="status text-left">

                                       <i class="fa fa-circle icon"
                                          [ngClass]="clientDetails?.contractStatus === 'active' ? 'success' : 'danger' "></i>&nbsp;
                                      <span>{{clientDetails?.contractStatus}}</span>
                                    </div> -->
                                    <label class="Cap">
                                        <i class="fa fa-circle-o-notch icon"></i>&nbsp;
                                        {{"CONTRACT STATUS" | translate}}
                                    </label>
                                    <h6 class="sub-title" [hidden]="!clientDetails">{{clientDetails?.contractStatus}}</h6>
                                </div>
                                <!-- *T END STATUS ******* -->


                            </div>

                        </div>
                    </div>
                    <form class="" [formGroup]="contractForm">
                        <div class="card-body">
                            <div class="table-responsive mx-auto">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <div class="float-left">
                                            <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                        </div>
                                    </div>
                                </div>
                                <table class="table"
                                       sortable-table (sorted)="onSorted($event)"
                                       filterable-table (filtred)="onFiltred($event)">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">{{'INVOICE_NO' | translate }}</th>
                                        <th scope="col">{{'INVOICE_TYPE' | translate }}</th>
                                        <th scope="col">{{'YEAR_MONTH' | translate }}</th>
                                        <th scope="col">{{'INVOICE_AMOUNT' | translate }}</th>
                                        <th scope="col">{{'INVOICE_VOL_FACT' | translate }}</th>
                                        <th scope="col">{{'INVOICE_DATE_EMISSION' | translate }}</th>
                                        <th scope="col">{{'INVOICE_DATE_EXIGIBLE' | translate }}</th>
                                        <th scope="col">{{'INVOICE_STATUS' | translate }}</th>
                                        <th scope="col">{{'INVOICE_ACTION' | translate }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <app-data-not-available
                                            *ngIf="!invoices || invoices.length == 0; else dataAvailable"
                                            [colSpan]="6"></app-data-not-available>

                                    <ng-template #dataAvailable>
                                        <tr *ngFor="let inv of invoices">
                                            <td>{{inv?.invNo}}</td>
                                            <td>{{inv?.invType}}</td>
                                            <td>{{inv?.year}}-{{inv?.month}}</td>
                                            <td>{{inv?.amount | numeral}}</td>
                                            <td>{{inv?.invoicedVol}}</td>
                                            <td>{{inv?.invEmitDate | date:'dd-MM-yyyy'}}</td>
                                            <td>{{inv?.invExigDate | date:'dd-MM-yyyy'}}</td>
                                            <td>{{inv?.status}}</td>
                                            <td>
                                                <i class="fa fa-list-alt cursor-pointer pl-1 text-info"
                                                   tooltip="Détails"
                                                   (click)="openInvoiceDetails(detailInvoice, inv)"></i>
                                                <i class="fa fa-file-pdf-o cursor-pointer pl-1 text-info"
                                                   (click)="downloadInvoicePdf(inv?.fileId)"
                                                   tooltip="Télécharger duplicata"></i>
                                            </td>
                                        </tr>

                                    </ng-template>

                                    </tbody>
                                </table>
                            </div>
                            <br> <br>
                            <app-pagination [showPagination]="totalPages > 1"
                                            [numberOfItems]="numberOfItems"
                                            [itemsPerPage]="itemsPerPage"
                                            [totalItems]="totalElements"
                                            [totalPages]="totalPages"
                                            (onpageChanged)="pageChanged($event)"></app-pagination>
                        </div>

                    </form>
                </div>

            </div>
            <!--/ What is-->

        </div>

    </section>

</div>

<ng-template #detailInvoice>

    <div class="modal-header modal-radem">
        <h4 class="modal-title pull-left">{{'INVOICE_DETAILS' | translate}} N°: {{invoice?.invNo}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div>
            <div class="card-header">
                <h4>
                    <i class="fa fa-tachometer"></i>&nbsp;{{'INVOICE_CONSUMPTION' | translate }} {{invoice?.month}}
                    -{{invoice?.year}}
                </h4>
            </div>
            <table class="col-md-8 mt-1" style="text-align: start; width: 215px;">
                <tr>
                    <th>{{'COUNTER_NUMBER' | translate }}:</th>
                    <td>{{historyInvoice?.counterNo}} <span *ngIf="!historyInvoice?.counterNo">-</span></td>
                </tr>
                <tr>
                    <th>{{'COUNTER_GAUGE' | translate }}:</th>
                    <td>{{historyInvoice?.caliber}} <span *ngIf="!historyInvoice?.caliber">-</span></td>
                </tr>
                <tr>
                    <th>{{'INDEX' | translate }}:</th>
                    <td>{{historyInvoice?.index}} <span *ngIf="!historyInvoice?.index">-</span></td>
                </tr>

                <tr>
                    <th>{{'PRODUCT' | translate }}:</th>
                    <td>{{historyInvoice?.product}} <span *ngIf="!historyInvoice?.product">-</span></td>
                </tr>
                <tr>
                    <th>{{'INVOICE_VOL_CONS' | translate }}:</th>
                    <td>{{historyInvoice?.consumedVolume}} <span *ngIf="!historyInvoice?.consumedVolume">-</span></td>
                </tr>
                <tr>
                    <th>{{'INVOICE_VOL_FACT' | translate }}:</th>
                    <td>{{historyInvoice?.invoicedVolume}} <span *ngIf="!historyInvoice?.invoicedVolume">-</span></td>
                </tr>

            </table>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-info-circle"></i>&nbsp;{{'INFORMATIONS' | translate }}
                </h4>
            </div>
            <div class="card-content">

                <div class="table-responsive mx-auto">
                    <div class="row justify-content-between">
                        <div class="col-12">
                            <div class="float-left">
                                <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                            </div>
                        </div>
                    </div>
                    <table class="table"
                           sortable-table (sorted)="onSorted($event)"
                           filterable-table (filtred)="onFiltred($event)">
                        <thead class="table-light">
                        <tr>

                            <th scope="col">{{'CATEGORY_INVOICE' | translate }}</th>
                            <th scope="col">{{'TRANCHE' | translate }}</th>
                            <th scope="col">{{'PRODUCT' | translate }}</th>
                            <th scope="col">{{'ROYALITIES' | translate }}</th>
                            <th scope="col">{{'TYPE_ROYALITIES' | translate }}</th>
                            <th scope="col">{{'TVA' | translate }}</th>
                            <th scope="col">{{'AMOUNT_PROX_UNIT_HT' | translate }}</th>
                            <th scope="col">{{'INVOICE_DATE_EMISSION' | translate }}</th>
                            <th scope="col">{{'INVOICE_DATE_EXIGIBLE' | translate }}</th>
                            <th scope="col">{{'AMOUNT_HT' | translate }}</th>
                            <th scope="col">{{'AMOUNT_TVA' | translate }}</th>
                            <th scope="col">{{'AMOUNT_TTC' | translate }}</th>
                            <th scope="col">{{'QUANTITY' | translate }}</th>

                        </tr>
                        </thead>
                        <tbody>

                        <app-data-not-available
                                *ngIf="!detailsInvoice || detailsInvoice.length == 0; else dataAvailable"
                                [colSpan]="12"></app-data-not-available>

                        <ng-template #dataAvailable>
                            <tr *ngFor="let detail of detailsInvoice">
                                <td>{{detail?.category}}</td>
                                <td>{{detail?.tranche}}</td>
                                <td>{{detail?.product}}</td>
                                <td>{{detail?.royalties}}</td>
                                <td>{{detail?.royaltiesType}}</td>
                                <td>{{detail?.tva}}</td>
                                <td>{{detail?.htAmountProx  | numeral}}</td>
                                <td>{{detail?.invEmitDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{detail?.invExigDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{detail?.htAmount  | numeral}}</td>
                                <td>{{detail?.tvaAmount  | numeral}}</td>
                                <td>{{detail?.ttcAmount  | numeral}}</td>
                                <td>{{detail?.quantity  | numeral}}</td>

                        </ng-template>


                        </tbody>
                    </table>
                </div>
                <div class="modal-body modal-radem">
                    <app-pagination [showPagination]="totalPagesDetails > 1"
                                    [numberOfItems]="numberOfItemsDetails"
                                    [itemsPerPage]="itemsPerPageDetails"
                                    [totalItems]="totalElementsDetails"
                                    [totalPages]="totalPagesDetails"
                                    (onpageChanged)="pageDetailsChanged($event)">
                    </app-pagination>
                </div>


            </div>
        </div>
    </div>

    <div class="modal-footer modal-radem">

        <button type="button" class="btn btn-light pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">Fermer</span>
        </button>
    </div>

</ng-template>

