<div class="container pt-5">
  <div class="text-center text-uppercase">
    <h2>
      demande de Résiliation
    </h2>
  </div>
  <div class="row pt-5">
    <div class="col-md-8 m-auto">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Nom :</label>
            <input type="text" class="form-control" placeholder="Votre Nom" [(ngModel)]="nom">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Prénom :</label>
            <input type="text" class="form-control" placeholder="Votre Prénom" [(ngModel)]="prenom">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>CIN :</label>
            <input type="text" class="form-control" placeholder="Votre CIN" [(ngModel)]="cin">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Téléphone : </label>
            <input type="text" class="form-control" placeholder="06xxxxxxxx" [(ngModel)]="tel">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="client" [(ngModel)]="type" value="client" checked>
            <label class="form-check-label" for="client">
              Client
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="procuration" [(ngModel)]="type" value="procuration">
            <label class="form-check-label" for="procuration">
              Procuration
            </label>
            <div>

            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="succession" [(ngModel)]="type" value="succession">
            <label class="form-check-label" for="succession">
              Succession
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Contrat d'eau :</label>
            <input type="text" class="form-control" placeholder="Contrat d'eau" [(ngModel)]="eau">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Tournée : </label>
            <input type="text" class="form-control" placeholder="Tournée" [(ngModel)]="t_eau">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Contrat d'électricité :</label>
            <input type="text" class="form-control" placeholder="Contrat d'électricité" [(ngModel)]="elec">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Tournée : </label>
            <input type="text" class="form-control" placeholder="Tournée" [(ngModel)]="t_elec">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Nom du Client :</label>
            <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="nom_cli">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Prénom du Client :</label>
            <input type="text" class="form-control" placeholder="Prénom" [(ngModel)]="prenom_cli">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Tél Fixe :</label>
            <input type="text" class="form-control" placeholder="Fixe" [(ngModel)]="fixe">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Tél Portable :</label>
            <input type="text" class="form-control" placeholder="Portable" [(ngModel)]="portable">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Fonction :</label>
            <input type="text" class="form-control" placeholder="Fonction" [(ngModel)]="fonction">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Lieu de travail :</label>
            <input type="text" class="form-control" placeholder="Lieu de travail" [(ngModel)]="lieu">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label>Adresse de Consommation :</label>
          <textarea class="form-control" rows="1" [(ngModel)]="address"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Date de dépose des compteur souhaités:</label>
            <input type="date" class="form-control" [(ngModel)]="dt_depose">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-secondary" (click)="save()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
