<div id="add-modele">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><i class="icon-settings"></i>{{'ADMINISTRATION' |
                translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'NEW_PROFIL' | translate}}</li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="spacer"></div>
        <div class="card">
            <div class="card-body">
                <section>
                    <form role="form" novalidate [formGroup]="formProfile">
                        <h4 class="card-title text-muted" *ngIf="!profile.id">{{'ADD_NEW_PROFIL' | translate}}</h4>
                        <h4 class="card-title text-muted" *ngIf="profile.id">{{'MODIFY_PROFIL' | translate}}</h4>
                        <div class="mx-2 my-3 text-right">
                            <div class="row form-group required">
                                <label for="titre" class="col-sm-3 control-label">{{'NAME_PROFIL' | translate}}</label>
                                <div class="col-sm-9">
                                    <input formControlName="title" type="text"
                                           placeholder="{{'NAME_PROFIL' | translate}}"
                                           class="form-control required"
                                           id="titre">
                                    <div class="text-danger text-left"
                                         *ngIf="!formProfile.controls['title'].valid && formProfile.controls['title'].touched">
                                        <div *ngIf="formProfile.controls['title'].errors.required">
                                            {{'THE_PROFILE_NAME_IS_REQUIRED' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="type" class="col-sm-3 control-label">{{'DESCRIPTION' | translate}}</label>
                                <div class="col-sm-9">
                                    <textarea formControlName="description" class="form-control" id="type"></textarea>
                                </div>
                            </div>
                            <!-- Droits d'accès-->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-left">{{'ACCESS_RIGHTS' | translate}}</h5>
                                    <div class="row">
                                        <div *ngFor="let authority of authorities"
                                             class="col-md-6 float-left text-left">
                                            <label class="noMargin">
                                                <input type="radio" name="  authority"
                                                       class="noMargin form-group"
                                                       [(checklist)]="selectedAuthorities"
                                                       [checklistValue]="authority.id">
                                                {{authority.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="button" class="btn btn-secondary" [routerLink]="['/admin/profiles']">
                                {{'CANCEL' | translate}}
                            </button>
                            <button class="btn btn btn-outline-primary" (click)="addProfile()" *ngIf="!profile.id"
                                    [disabled]="formProfile.invalid || selectedAuthorities.length == 0">{{'SAVE' |
                                translate}}
                            </button>
                            <button class="btn btn btn-outline-primary" (click)="addProfile()" *ngIf="profile.id"
                                    [disabled]="formProfile.invalid || selectedAuthorities.length == 0">{{'MODIFY' |
                                translate}}
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
