<div class="col-md py-3">
  <div class="card">
    <div class="card-body">
      <form class="form">
        <h4 class="card-title">Nouvelle demande de résiliation</h4>
        <div class="card col-md-12">
          <div class="card-body">
            <p class="font-weight-bold">Demandeur</p>
            <div class="form-group">
              <label for="feedback">Nom et Prenom: </label>
              <input class="form-control" id="feedback">
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="feedback">CIN: </label>
                <input class="form-control" id="feedback">
              </div>
              <div class="form-group col-md-6">
                <label for="feedback">Délivrée le: </label>
                <input class="form-control" id="feedback">
              </div>
            </div>
            <div class="form-group">
              <label class="noMargin">
                <input class="form-control" id="feedback" type="radio"> Client</label>
            </div>
          </div>
        </div>
        <br>
        <div class="card col-md-12">
          <div class="card-body">
            <p class="font-weight-bold">Polices d'abonnement</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <p class="font-weight-bold">Client</p>
            <div class="form-group">
              <label for="feedback">Nom du client: </label>
              <input class="form-control" id="feedback">
            </div>
            <div class="form-group">
              <label for="feedback">Adresse de consommation: </label>
              <input class="form-control" id="feedback">
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="feedback">Num telephone fixe: </label>
                <input class="form-control" id="feedback">
              </div>
              <div class="form-group col-md-6">
                <label for="feedback">Portable: </label>
                <input class="form-control" id="feedback">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="feedback">Fonction: </label>
                <input class="form-control" id="feedback">
              </div>
              <div class="form-group col-md-6">
                <label for="feedback">Lieu de travail: </label>
                <input class="form-control" id="feedback">
              </div>
            </div>
            <div class="form-group">
              <label for="feedback">Adresse de correspondance: </label>
              <input class="form-control" id="feedback">
            </div>
          </div>
        </div>
        &nbsp;
        <button class="btn btn-primary pull-right" (click)="print('printSection')">print</button> &nbsp; &nbsp;
        <button class="btn btn-primary pull-right" (click)="print('printSection')">Enregistrer</button>
      </form>
    </div>
  </div>
  // printable
  <div id="printSection" class="col col-md-12">
    <h2 class="text-center">RÉGIE AUTONOME DE DISTRIBUTION D'EAU ET D'ELECTRICITÉ MEKNÈS</h2>
    <h2 class="text-center">DIVISION CLIENTELE</h2>
    <h2 class="text-center">SERVICE COMMERCIAL</h2>
    <br>
    <h1 class="text-center font-weight-bold">DEMANDE DE RÉSILIATION</h1>
    <br>
    <div class="row col-md-10">
      <p>DR N° 11111</p>
    </div>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Demandeur</legend>
      <div class="row">
        <div class="col col-md-12">
          Nom et Prénom:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          CIN N°:
        </div>

        <div class="col col-md-4">
          Délivrée le:
        </div>

        <div class="col col-md-4">
          à:
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-12">
          <input type="checkbox"> Client
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-12">
          <input type="checkbox"> Procuration
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-6">
          <input type="checkbox"> Lettre N°
        </div>
        <div class="col col-md-6">
          du
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-12">
          <input type="checkbox"> Succession
        </div>
      </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Polices d'abonnement</legend>
      <div class="row">
        <div class="col col-md-12">
          <input type="checkbox"> EAU
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-6">
          Police:
        </div>

        <div class="col col-md-6">
          Tournée:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <input type="checkbox"> ELECTRICITE
        </div>
      </div>
      <div class="row marginLeft">
        <div class="col col-md-6">
          Police:
        </div>

        <div class="col col-md-6">
          Tournée:
        </div>
      </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Client</legend>
      <div class="row">
        <div class="col col-md-12">
          Nom du client:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          Adresse de consommation:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          N° Telephone fixe:
        </div>

        <div class="col col-md-6">
          Portable:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          Fonction:
        </div>

        <div class="col col-md-6">
          lieu de travail:
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          Adresse de correspondance:
        </div>
      </div>
    </fieldset>
    <div class="col col-md-12 ups">
      Date de dépose des compteurs souhaités:
    </div>
    <br>
    <p>Fait le: ...</p>
    <br>
    <table class="col col-md-12">
      <tr>
        <td>
          Guichet de résiliation
          <br> AGENT RADEEM
          <br> Mle:
          <br>
          <p class="marginVisa">Visa:</p>
        </td>
        <td>signature</td>
      </tr>
    </table>
  </div>

</div>
