<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">{{'CLAIMS' | translate }}</h3>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">{{'MY_CLAIM' | translate }} N°: {{complaint?.claimNumber}} - {{complaint?.object}}</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-body">
            <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" [navigationMode]="'free'">

                <aw-wizard-step *ngIf="selectedStep >= 0; else step0" [stepId]="0" awOptionalStep [stepTitle]="'CREATED' | translate" [navigationSymbol]="{ symbol: '&#xf0f6;', fontFamily:'FontAwesome' }">
                </aw-wizard-step>
        
                <ng-template #step0>
                  <aw-wizard-step [stepId]="0" [stepTitle]="'CREATED' | translate" [navigationSymbol]="{ symbol: '&#xf0f6;', fontFamily:'FontAwesome' }">
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-step *ngIf="selectedStep >= 1; else step1" [stepId]="1" awOptionalStep [stepTitle]="'SUPPORTED' | translate" [navigationSymbol]="{ symbol: '&#xf274;', fontFamily:'FontAwesome' }">
                </aw-wizard-step>
        
        
                <ng-template #step1>
                  <aw-wizard-step [stepId]="1" [stepTitle]="'SUPPORTED' | translate" [navigationSymbol]="{ symbol: '&#xf274;', fontFamily:'FontAwesome' }">
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-step *ngIf="selectedStep >= 2; else step2" [stepId]="2" awOptionalStep [stepTitle]="'Analyse'" [navigationSymbol]="{ symbol: '&#xf252;', fontFamily:'FontAwesome' }">
                </aw-wizard-step>
        
        
                <ng-template #step2>
                  <aw-wizard-step [stepId]="2" [stepTitle]="'ANALYSIS' | translate" [navigationSymbol]="{ symbol: '&#xf252;', fontFamily:'FontAwesome' }">
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-step *ngIf="selectedStep >= 3; else step3" [stepId]="3" awOptionalStep [stepTitle]="'COMPLEMENT' | translate" [navigationSymbol]="{ symbol: '&#xf0c5;', fontFamily:'FontAwesome' }" >
                </aw-wizard-step>
        
                <ng-template #step3>
                  <aw-wizard-step [stepId]="3" [stepTitle]="'COMPLEMENT' | translate " [navigationSymbol]="{ symbol: '&#xf0c5;', fontFamily:'FontAwesome' }" >
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-step *ngIf="selectedStep >= 4; else step4" [stepId]="4" awOptionalStep [stepTitle]="'TRANSMISSION' | translate" [navigationSymbol]="{ symbol: '&#xf04e;', fontFamily:'FontAwesome' }" >
                </aw-wizard-step>
        
                <ng-template #step4>
                  <aw-wizard-step [stepId]="4" [stepTitle]="'TRANSMISSION' | translate" [navigationSymbol]="{ symbol: '&#xf04e;', fontFamily:'FontAwesome' }" >
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-step *ngIf="selectedStep >= 5; else step5" [stepId]="5" awOptionalStep [stepTitle]="'ANSWER_PROVIDED' | translate" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily:'FontAwesome' }" >
                </aw-wizard-step>
        
        
                <ng-template #step5>
                  <aw-wizard-step [stepId]="5" [stepTitle]="'ANSWER_PROVIDED' | translate" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily:'FontAwesome' }" >
                  </aw-wizard-step>
                </ng-template>
        
                <aw-wizard-completion-step *ngIf="selectedStep >= 6;else step6" awOptionalStep [stepId]="6" [stepTitle]="'FENCED' | translate" [navigationSymbol]="{ symbol: '&#xf023;',  fontFamily:'FontAwesome'}">
                  <!--<button type="button" class="btn btn btn-outline-primary" (click)="finishFunction()">Finish</button>-->
                </aw-wizard-completion-step>
        
                <ng-template #step6>
                  <aw-wizard-completion-step  [stepId]="6" [stepTitle]="'FENCED' | translate" [navigationSymbol]="{ symbol: '&#xf023;',  fontFamily:'FontAwesome'}">
                    <!--<button type="button" class="btn btn btn-outline-primary" (click)="finishFunction()">Finish</button>-->
                  </aw-wizard-completion-step>
                </ng-template>
        
                
              </aw-wizard>
          <!--<ul class="steps steps-7">
            <li [ngClass]="{current: complaint?.status === 'CREATED'}">
              <p class="mx-auto">
                <em>Créée</em>
              </p>
            </li>
            <li [ngClass]="{current: complaint?.status === 'RECEIVED'}">
              <p>
                <em>Prise en charge</em>
              </p>
            </li>
            <li [ngClass]="{current: complaint?.status === 'OK'}">
              <p>
                <em>Analyse</em>
              </p>
            </li>
            <li class="current">
              <p>
                <em>Demande complement</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Transmission d'information</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Reponse fournie</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Cloture</em>
                <span></span>
              </p>
            </li>
          </ul>-->
          <div class="row" id="cards">
            <fieldset class="scheduler-border col-7">
              <legend class="scheduler-border">{{'DESCRIPTION' | translate }}</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    {{complaint?.description}}
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border col-4">
              <legend class="scheduler-border">{{'AGENT' | translate }}</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    <p *ngIf="!complaint?.agent">{{'NO_AGENTS_ARE_AFFECTED_AT_THE_MOMENT' | translate }}</p>
                    <table *ngIf="complaint?.agent">
                        <tr>
                          <td>{{'AGENT' | translate }} :</td>
                          <td>{{complaint?.agent?.firstname}} {{complaint?.agent?.lastname}}</td>
                        </tr>
                        <tr>
                          <td>{{'SERVICE_CONCERNED' | translate }} :</td>
                          <td></td>
                        </tr>
                      </table>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="row" id="cards">
            <fieldset class="scheduler-border col-7">
              <legend class="scheduler-border">{{'COMMENTS' | translate }}</legend>
              <div id="commDiv" style="padding: 20px;overflow: scroll; max-height: 500px;">
                <form class="">
                  <div class="row">

                    <input id="commentaire" [formControl]="feedback" type="text" class="col-9 form-control" placeholder="{{'LEAVE_A_COMMENT' | translate}}"/>

                    <button class="btn btn btn-outline-primary" (click)="saveFeedback()">{{'SEND' | translate }}</button>
                  </div>
                </form>
                <br>
                <div class="row" style="margin-bottom: 10px;" *ngFor="let feedback of complaint?.feedbacks">
                  <img id="img" src="assets/images/profile.png" alt="" height="40" width="40">
                  <div class="border-comm col-10" id="comm">
                    {{feedback?.message}}
                  </div>
                  <div class="col-md-4 pull-right" style="margin-left:400px; color: gray">
                    <i>le {{feedback?.sendingDate | date: 'dd/MM/yyyy'}}.</i>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border col-4">
              <legend class="scheduler-border">{{'DATES' | translate }}</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    <table>
                      <tr>
                        <td>{{'DATE_OF-CREATION' | translate }} :</td>
                        <td>{{complaint?.createdDate | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <td>{{'DATE_OF_MODIFICATION' | translate }} :</td>
                        <td>{{complaint?.updatedDate | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
