<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Réclamations</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/services/claim-requests">Réclamations</a>
        </li>
        <li class="breadcrumb-item active">Réclamation {{complaint?.claimNumber}}
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Ma réclamation N°: {{complaint?.claimNumber}} - {{complaint?.object}}</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-body">
          <ul class="steps steps-7">
            <li [ngClass]="{current: complaint?.status === 'CREATED'}">
              <p class="mx-auto">
                <em>Créée</em>
              </p>
            </li>
            <li [ngClass]="{current: complaint?.status === 'RECEIVED'}">
              <p>
                <em>Prise en charge</em>
              </p>
            </li>
            <li [ngClass]="{current: complaint?.status === 'OK'}">
              <p>
                <em>Analyse</em>
              </p>
            </li>
            <li class="current">
              <p>
                <em>Demande complement</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Transmission d'information</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Reponse fournie</em>
                <span></span>
              </p>
            </li>
            <li>
              <p>
                <em>Cloture</em>
                <span></span>
              </p>
            </li>
          </ul>
          <div class="row" id="cards">
            <fieldset class="scheduler-border col-7">
              <legend class="scheduler-border">Description</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    {{complaint?.description}}
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border col-4">
              <legend class="scheduler-border">Agent</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    <p *ngIf="!complaint?.agent">Aucun agent n'est affecté pour le moment</p>
                    <table *ngIf="complaint?.agent">
                        <tr>
                          <td>Agent :</td>
                          <td>{{complaint?.agent?.firstname}} {{complaint?.agent?.lastname}}</td>
                        </tr>
                        <tr>
                          <td>Service concerné :</td>
                          <td></td>
                        </tr>
                      </table>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="row" id="cards">
            <fieldset class="scheduler-border col-7">
              <legend class="scheduler-border">Commentaires</legend>
              <div id="commDiv" style="padding: 20px;overflow: scroll; max-height: 500px;">
                <form class="">
                  <div class="row">

                    <input id="commentaire" [formControl]="feedback" type="text" class="col-9 form-control" placeholder="Laisser un commentaire.."/>

                    <button class="btn btn btn-outline-primary" (click)="saveFeedback()">Envoyer</button>
                  </div>
                </form>
                <br>
                <div class="row" style="margin-bottom: 10px;" *ngFor="let feedback of complaint?.feedbacks">
                  <img id="img" src="assets/images/profile.png" alt="" height="40" width="40">
                  <div class="border-comm col-10" id="comm">
                    {{feedback?.message}}
                  </div>
                  <div class="col-md-4 pull-right" style="margin-left:400px; color: gray">
                    <i>le {{feedback?.sendingDate | date: 'dd/MM/yyyy'}}.</i>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border col-4">
              <legend class="scheduler-border">Dates</legend>
              <div style="padding-left: 20px;padding-bottom: 10px;">
                <div class="row">
                  <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                    <table>
                      <tr>
                        <td>Date de creation :</td>
                        <td>{{complaint?.createdDate | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <td>Date de modification :</td>
                        <td>{{complaint?.updatedDate | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
