<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Résiliation</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/services/cancellation-requests">Demandes</a>
        </li>
        <li class="breadcrumb-item active">Demande de résiliation {{terminationRequest?.requestNumber}}
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Consulter votre demande</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <ul class="steps steps-7">
              <li [ngClass]="{current: terminationRequest?.status === 'CREATED'}">
                <p class="mx-auto">
                  <em>Créée</em>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'RECEIVED'}">
                <p>
                  <em>Reçue</em>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'IN_PROGRESS'}">
                <p>
                  <em>Intervention en cours</em>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'DEPOSITED_COUNTER'}">
                <p>
                  <em>Compteur deposé</em>
                  <span></span>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'UNPAID_VERIFICATION'}">
                <p>
                  <em>Verification impayés</em>
                  <span></span>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'SETTLEMENT'}">
                <p>
                  <em>Reglement/Remboursement</em>
                  <span></span>
                </p>
              </li>
              <li [ngClass]="{current: terminationRequest?.status === 'CLOSED'}">
                <p>
                  <em>Cloture</em>
                  <span></span>
                </p>
              </li>
            </ul>

            <div class="row" id="cards">
              <fieldset class="scheduler-border col-7">
                <legend class="scheduler-border">Informations</legend>
                <div style="padding-left: 20px;padding-bottom: 10px;">
                  <div class="row">
                    <div style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                      <table>
                        <tr>
                          <td>N° demande :</td>
                          <td>{{terminationRequest?.requestNumber}}</td>
                        </tr>
                        <tr>
                          <td>Client :</td>
                          <td>{{terminationRequest?.client?.lastname}} {{terminationRequest?.client?.firstname}}</td>
                        </tr>
                        <tr>
                          <td>Police :</td>
                          <td>{{terminationRequest?.subscriptions[0]?.subscription}} {{!terminationRequest?.subscriptions[1] ? '' : ','}} {{terminationRequest?.subscriptions[1]?.subscription}}</td>
                        </tr>
                      </table>
                    </div>
                    <div *ngIf="terminationRequest?.intervenant" style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                      <table>
                        <tr>
                          <td>Intervenant : </td>
                          <td>{{terminationRequest?.intervenant?.firstname}} {{terminationRequest?.intervenant?.lastname}}</td>
                        </tr>
                        <tr>
                          <td>Date d'intervention : </td>
                          <td>{{terminationRequest?.interventionDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                          <td>Tel agent :</td>
                          <td>{{terminationRequest?.intervenant.phone}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="scheduler-border col-4">
                <legend class="scheduler-border">Agent</legend>
                <div *ngIf="terminationRequest?.agent" style="padding-left: 20px;padding-top: 10px;">
                  <table>
                    <tr>
                      <td>Agent :</td>
                      <td>{{terminationRequest?.agent?.firstname}} {{terminationRequest?.agent?.lastname}}</td>
                    </tr>
                    <tr>
                      <td>Service concerné :</td>
                      <td></td>
                    </tr>
                  </table>
                </div>
                <p *ngIf="!terminationRequest?.agent">Aucun agent n'est affecté pour le moment</p>
              </fieldset>
            </div>
            <div class="row" id="cards2">

              <fieldset class="scheduler-border col-7">
                <legend class="scheduler-border">Commentaires</legend>
                <div style="padding: 20px;overflow: scroll; max-height: 500px;">
                  <form class="">
                    <div class="row">

                      <input id="commentaire" [formControl]="feedback" type="text" class="col-9 form-control" placeholder="Laisser un commentaire.."
                      />

                      <button class="btn btn-primary" (click)="saveFeedback()">Envoyer</button>
                    </div>
                  </form>
                  <br>
                  <div class="row" style="margin-bottom: 10px;" *ngFor="let feedback of terminationRequest?.feedback">
                    <img id="img" src="assets/images/profile.png" alt="" height="40" width="40">
                    <div class="border-comm col-10" id="comm">
                      {{feedback.message}}
                    </div>
                    <div class="col-md-4 pull-right" style="margin-left:400px; color: gray">
                      <i>le {{feedback.sendingDate | date: 'dd/MM/yyyy'}}.</i>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="scheduler-border col-4 max-width">
                <legend class="scheduler-border">Dates</legend>
                <div>
                  <table>
                    <tr>
                      <td>Date création :</td>
                      <td>{{terminationRequest?.createdAt | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                      <td>Dernière modification :</td>
                      <td>{{terminationRequest?.lastUpdate| date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                      <td>Date de depose du compteur :</td>
                      <td>{{terminationRequest?.counterDropDate | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                  </table>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
