<div *ngIf="notFound" class="alert alert-warning" role="alert" style="border-radius: 0 !important; text-align: center;">
  Cette demande n'éxiste pas !
</div>
<div class="container" id="toPrint">
  <div class="row">
    <div class="col">
    </div>
    <div class="modal-body col-10">
      <div class="row">
        <div class="col-md-6 col-6">
          <a class="logoSize" routerLink="/home" style=" padding-top: 7px;">
            <img alt="stack admin logo" src="../../assets/app/images/logo/radem-logo-ico.png" class="brand-logo"
                 id="stackLogo" style=" width: 50px;height: 70px;">

            <img alt="stack admin logo" src="../../assets/app/images/logo/radem-logo.png" class="logoSize"
                 id="stackLogo-text">
          </a>
        </div>
        <div class="col-md-6 col-6">
          <table class="borderDiv">
            <tbody>
            <tr>
              <td><b>Numéro de remboursement</b></td>
              <td>
                <h4 *ngIf="refundRequest?.requestNo==null">............</h4>
                <h4 *ngIf="refundRequest?.requestNo!=null"> {{refundRequest?.requestNo}} </h4>
              </td>
            </tr>
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td><b>Tournée</b></td>
              <td>
                <h4 *ngIf="refundRequest?.tour==null">............</h4>
                <h4 *ngIf="refundRequest?.tour!=null">{{refundRequest?.tour}} </h4>
              </td>
            </tr>
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td><b>Contrats</b></td>
              <td>
                <h4 *ngIf="refundRequest?.contracts==null || refundRequest?.contracts.length < 1">............</h4>
                <span style="margin-right: 5px;: 10px" class="badge badge-primary"
                      *ngFor="let ctr of refundRequest?.contracts">{{ctr}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="txtCenter modal-body col-10">
        <h1>طلـــب التعويــض</h1>
        <h1>DEMANDE DE REMBOURSEMENT</h1>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="txtCenter modal-body col-12" style="position: relative; left: 81px;">
        <table class="tableD">
          <tbody>
          <tr>
            <td>
              <h4>
                <li>Nom et prénom</li>
              </h4>
            </td>
            <td><h4 *ngIf="user?.lastname==null && user?.firstname == null">:
              ...................................................................................................</h4>
              <h4 *ngIf="user?.lastname!=null || user?.firstname != null">:
                {{user?.lastname}} {{user?.firstname}}</h4></td>
          </tr>
          <tr>
            <td>
              <h4>
                <li>Adresse</li>
              </h4>
            </td>
            <td><h4 *ngIf="refundRequest?.mailingAddress==null">:
              ...................................................................................................</h4>
              <h4 *ngIf="refundRequest?.mailingAddress!=null"> : {{refundRequest?.mailingAddress}} </h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4>
                <li>Téléphone fixe</li>
              </h4>
            </td>
            <td><h4 *ngIf="refundRequest?.fixPhone==null">:
              ...................................................................................................</h4>
              <h4 *ngIf="refundRequest?.fixPhone!=null">: {{refundRequest?.fixPhone}} </h4></td>
          </tr>
          <tr>
            <td>
              <h4>
                <li>Téléphone portable</li>
              </h4>
            </td>
            <td><h4 *ngIf="refundRequest?.phone==null">:
              ...................................................................................................</h4>
              <h4 *ngIf="refundRequest?.phone!=null">: {{refundRequest?.phone}} </h4></td>
          </tr>
          <tr>
            <td>
              <h4>
                <li>Mode de remboursement</li>
              </h4>
            </td>
            <td><h4 *ngIf="refundRequest?.requestPaymentMode==null">:
              ...................................................................................................</h4>
              <h4 *ngIf="refundRequest?.requestPaymentMode!=null">
                : {{refundRequest?.requestPaymentMode | translate}}</h4></td>
          </tr>
          <tr *ngIf="refundRequest?.procuration==true">
            <td>
              <h4>
                <li>{{'PROCUROR_LASTNAME' | translate }}</li>
              </h4>
            </td>
            <td>
              <h4>
                : {{refundRequest?.procuratorLastname}}
              </h4>
            </td>
          </tr>
          <tr *ngIf="refundRequest?.procuration==true">
            <td>
              <h4>
                <li>{{'PROCUROR_FIRSTNAME' | translate }} </li>
              </h4>
            </td>
            <td>
              <h4>
                : {{refundRequest?.procuratorFirstname}}
              </h4>
            </td>
          </tr>
          <tr *ngIf="refundRequest?.procuration==true">
            <td>
              <h4>
                <li>{{'PROCUROR_CIN' | translate }}</li>
              </h4>
            </td>
            <td>
              <h4>
                : {{refundRequest?.procuratorCin}}
              </h4>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
      </div>

      <div class="row">
        <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">

        </div>


      </div>

    </div>
  </div>
</div>


<div class="btn-print">
  <button
    (click)="printComponent('toPrint');"
    style="float: right !important;"
    class="btn btn btn-outline-primary ">{{'PRINT' | translate }}</button>
</div>
