.borderDiv{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: separate;
}

.borderDiv tr td{
  border: 2px solid #ccc !important;
  padding: 0.01em 16px;
  margin-top: 16px !important;
  border-color: #000 !important;
  padding: 0.35rem;
  vertical-align: top;
}


.txtCenter h1{
  text-align: center;
}

.tableD {
  width: 80%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }
.tableD th,
.tableD td {
  padding: 0.35rem;
  vertical-align: top;
  color: #000000;
  border-top: 0px solid #98A4B8; }
.tableD thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #98A4B8; }
.tableD tbody + tbody {
  border-top: 0px solid #98A4B8; }
.tableD .tableD {
  background-color: #F5F7FA; }


.logoSize{
  width: 150px;
  height: 60px;
  margin-top: 20px;

}
