.card-header{
  padding: 0.8rem;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;
  h3{
    margin-top: 8px;
  }
}

.content-body{
  box-shadow: 0px 0px 0px 0px #ffffff;
}

.contract-dropdown {
  font-size: .9rem;
  color: #2c5599;

}
