<div class="container content-body">
  <div>
    <app-navbar></app-navbar>
    <app-second-navbar></app-second-navbar>
    <div class="text-center">

      <img alt="Page not found" class="img-responsive" src="./assets/images/404-Page-Not-Found.png" height="240"
           class="text-center">
      <br>  <h5>{{message}}</h5>
    </div>

    <app-footer></app-footer>
  </div>
</div>

<!--
 Name: Page not found component
 Description: Display a custom page not found,
              This page is called each time the user navigate to a non existing page
Input: title: string
       message: string
Output: NONE

 -->
