<div>
  <div>
    <app-navbar></app-navbar>
    <app-second-navbar></app-second-navbar>
    <div class="horizontal-layout horizontal-menu 1-column menu-expanded blank-page blank-page">
      <div class="app-content center-layout">
        <div id="notFound">
          <article>
            <h1>{{'NOT_FOUND_BROKEN' | translate }}.
            </h1>
            <p class="text-right">
              <button class="btn btn-lg btn-outline-info"
                      (click)="goToHome()"><i
                class="fa fa-undo"></i>&nbsp;
                <span *ngIf="user">{{'GO_TO_HOME' | translate }}</span>
                <span *ngIf="!user">{{'GO_TO_LOGIN' | translate }}</span>
              </button>
            </p>
          </article>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
