<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-10 box-shadow-2 p-0 mt-10">
              <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0 pb-0">
                    <div class="card-title text-center">
                      <i class="fa fa-check"></i>
                        <div class="p-1">
                          {{'YOUR_ACCOUNT_HAS_BEEN_ACTIVATED_SUCCESSFULLY!' | translate}}

                        </div>
                        <button type="button" routerLink="/login" class="btn btn-primary">{{'LOG_IN' | translate}}</button>
                     </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
