<div class="container">
    <div class="auth-container">
        <app-navbar></app-navbar>
        <app-second-navbar></app-second-navbar>
        <!--Tooltip Starts-->

      <div class="content-body">
          <section class="row">
              <div class="col-sm-12">
                  <!-- What is-->
                    <div id="what-is" class="card mb-0">
                        <div class="app-content center-layout">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-md-6 col-10 mt-4">
                                    <div class="card mb-0">
                                        <div class="card-header border-0">
                                            <div class="card-title text-center">
                                                <i class="fa fa-4x fa-lock" style="color: #214479!important;"></i>
                                            </div>
                                            <h3 class="card-subtitle line-on-side text-muted text-center pt-2">
                                                <span>{{'LOG_IN2' | translate}}</span>
                                            </h3>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form (ngSubmit)="onLogin()" class="form-horizontal form-simple"
                                                      [formGroup]="userForm" novalidate>
                                                    <fieldset class="form-group position-relative has-icon-left mb-0">
                                                        <input type="text" class="form-control form-control-lg"
                                                               formControlName="username"
                                                               [(ngModel)]="username"
                                                               placeholder="{{'login.placeholders.username' | translate }}"
                                                               autocomplete="off"
                                                               required/>
                                                        <div class="form-control-position">
                                                            <i class="ft-user"></i>
                                                        </div>
                                                        <div *ngIf="userForm.get('username').touched && userForm.get('username').hasError('required')"
                                                             translate="validations.required.username"
                                                             class="text-danger font-weight-bold">
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="form-group position-relative has-icon-left">
                                                        <input type="password" class="form-control form-control-lg"
                                                               formControlName="password"
                                                               [(ngModel)]="password"
                                                               placeholder="{{'login.placeholders.password' | translate }}"
                                                               autocomplete="off"
                                                               required/>
                                                        <div class="form-control-position">
                                                            <i class="fa fa-key"></i>
                                                        </div>
                                                        <div *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')"
                                                             translate="validations.required.password"
                                                             class="text-danger font-weight-bold">
                                                        </div>
                                                    </fieldset>

                                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                                            [disabled]="!userForm.valid || loading"
                                                            value="{{ 'login.button-login' | translate }}">
                                                        <i class="ft-unlock"></i> {{ 'login.button-login' | translate }}
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-footer mb-1">
                                            <p class="float-sm-left text-center m-0">
                                                <a routerLink="/recover-password"
                                                   class="card-link">{{'FORGOT_YOUR_PASSWORD_?' | translate }}</a></p>
                                            <p class="float-sm-right text-center m-0">
                                                <a routerLink="/register" class="card-link ml-7">{{'SIGN_UP' | translate }}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>
</div>
