<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{dynamic?.title}}</h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <!-- Conseil et économie d'énergie-->
      <div class="mb-0">
        <!--<div class="card-header">
            <h4 class="card-title">{{'ADVICE_AND_ENERGY_SAVING' | translate}}</h4>
            <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
            </a>
        </div>-->
        <div class="card-content collapse show">
          <div class="card-body">
            <div [innerHTML]="dynamic?.content || '' | safeHtml"></div>
          </div>
        </div>
      </div>
      <!--/ Conseil et économie d'énergie-->
    </div>
  </section>
</div>
