<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{dynamic?.title}}
            </h3>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- service & demarche-->
            <div class="content">
                <div class="deck card-deck-outline">
                    <div class="deck-body">
                        <div class="card-deck-content">
                            <div class="card-body">
                                <div [innerHTML]="dynamic?.content || '' | safeHtml"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- service & demarche-->
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <a [routerLink]="['/provisional-counter']" ><h3>compteur-provisoire</h3></a>
            </div>
            <div class="col-4"></div>
            <div class="col">
                <a [routerLink]="['/refund-request-page']"><h3>demande-remboursement</h3></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a [routerLink]="['/tax-page']"><h3>prelevement</h3></a>
            </div>
            <div class="col-4"></div>
            <div class="col">
                <a [routerLink]="['/termination-page']"><h3>resiliation</h3></a>
            </div>
        </div>
    </div>
