<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'MY_CONTRACTS' |
                translate}}</h3>
        </div>
        <div class="col-md-6 col-12 text-right">
            <button class="btn btn-primary"
                    (click)="openModalLinkContract(linkContract)"><i class="fa fa-plus"></i>&nbsp;
                {{'LINK_CONTRACT' | translate}}
            </button>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="mb-0">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row justify-content-between">
                                <div class="col-12">
                                    <div class="float-left">
                                        <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" width="100">{{'CONTRACT_NUMBER' | translate }}</th>
                                    <th scope="col">{{'STATUS' | translate }}</th>
                                    <th scope="col">{{'USAGE' | translate }}</th>
                                    <th scope="col">{{'COMMENT' | translate }}</th>
                                    <th scope="col" width="140">{{'ACTIONS' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <app-data-not-available
                                        *ngIf="!contracts || contracts.length == 0; else dataAvailable"
                                        [colSpan]="7"></app-data-not-available>
                                <ng-template #dataAvailable>
                                    <tr *ngFor="let contract of contracts" class="text-center">
                                        <td class="text-left">
                                            <span class="network-icon"
                                                  [ngClass]="contract.typeContrat === 'eau' ? 'water' : 'electricity'">
                                            <i class="fa fa-2x text-white"
                                               [ngClass]="contract.typeContrat === 'eau' ? 'fa-tint' : 'fa-bolt'"></i> &nbsp;
                                           </span>&nbsp;
                                            <b>{{contract.numeroContrat}}</b>
                                        </td>
                                        <td class="text-left">
                                            <b>{{contract.etatContrat}}</b>
                                        </td>
                                        <td>{{contract.usage}}</td>
                                        <td>{{contract.comment}}</td>
                                        <td>
                                            <i class="fa fa-list-alt cursor-pointer"
                                               tooltip="Détails"
                                               (click)="openContractDetails(detailSubscription, contract.numeroContrat)"></i>
                                            <i class="fa fa-unlink cursor-pointer pull-right"
                                               tooltip="Rattachement"
                                               (click)="unLinkMyContract(contract.numeroContrat)"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                                </tbody>
                            </table>
                        </div>
                        <app-pagination [disabled]="false"
                                        [numberOfItems]="numberOfItems"
                                        [itemsPerPage]="itemsPerPage"
                                        [totalItems]="totalElements"
                                        [totalPages]="totalPages"
                                        (onpageChanged)="pageChanged($event)"></app-pagination>
                    </div>
                </div>
                <!--/ What is-->
            </div>
        </div>
    </section>
</div>

<ng-template #detailSubscription>
    <div class="modal-header modal-radem">
        <h4 class="modal-title pull-left">{{'CONTRACT_DETAILS' | translate}} N°: {{contract.numeroContrat}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header"
                 [ngClass]="contract?.typeContrat === 'eau' ? 'text-primary border-water' : 'text-warning border-electricity'">
                <h4>
                    <i class="fa fa-info-circle"></i>&nbsp;{{'INFORMATIONS' | translate }}
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>{{'CONTRACT_NUMBER' | translate}} : </b> {{contract?.numeroContrat}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <b>{{'TOTAL_BALANCE' | translate}}: </b>
                                <span class="text-muted">{{solde?.soldetot}}</span>
                            </p>

                            <p>
                                <b>{{'BALANCE_DUE' | translate}} : </b>
                                <span class="text-muted">{{solde?.soldeExigible}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>{{'CATEGORY' | translate}} : </b>
                                <span class="text-muted">{{contract?.libelleCategorieAbonnement}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>{{'PAYER' | translate}} : </b>{{contract?.nomClientPayeur + ' ' +
                                contract?.prenomClientPayeur}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <b>{{'Holder' | translate}} : </b>{{contract?.nomClientTitulaire + ' ' +
                                contract?.prenomClientTitulaire}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>{{'ADDRESS' | translate}}: </b> {{contract?.adresseClientPayeur}}</p>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>{{'STATUS' | translate }} : </b>{{contract?.etatContrat}}</p>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>{{'SUBSCRIPTION_DATE' | translate}} : </b>{{contract?.dateCreationAbonnement}}
                            </p>
                        </div>
                        <div class="col-md-6" *ngIf="contract?.dateFinAbonnement">
                            <p><b>{{'SUBSCRIPTION_END_DATE' | translate}} : </b>{{contract?.dateFinAbonnement}}
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="contract?.dateEffetAbonnement">
                        <div class="col-md-6">
                            <p><b>{{'SUBSCRIPTION_EFFECT_DATE' | translate}} : </b>{{contract?.dateEffetAbonnement}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>{{'RATE' | translate }} : </b>{{contract?.tariff}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #waterBillDetails>
    <div class="modal-header modal-radem">
        <h4 class="modal-title pull-left">{{'INVOICE_DETAILS' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="bs-callout callout-bordered bg-info bg-lighten-3">
            <div class="media align-items-stretch">
                <div class="d-flex align-items-center bg-primary p-2">
                    <i class="fa fa-tint fa-lg white"></i>
                </div>
                <div class="media-body row  mt-1 ml-1">
                    <div class="col-4">
                        <p>
                            <b>{{'CONTRACT_NUMBER' | translate }} :</b> {{bill.police}}</p>
                    </div>
                    <div class="col-4">
                        <p>
                            <b>{{'INVOICE_NUMBER' | translate }} :</b> {{bill.numBill}}</p>
                    </div>
                    <div class="col-4">
                        <p>
                            <b>{{'INVOICE_AMOUNT' | translate }} :</b> {{bill.amount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-responsive">
                <thead class="table-dark">
                <tr>
                    <th scope="row">{{'LABEL' | translate }}</th>
                    <th scope="col">{{'UNIT_PRICE' | translate }}</th>
                    <th scope="col">{{'QUANTITY' | translate }}</th>
                    <th scope="col">{{'AMOUNT_HT' | translate }}</th>
                    <th scope="col">{{'VAT_RATE' | translate }}</th>
                    <th scope="col">{{'VAT_AMOUNT' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6" class="">{{'FIXED_FEES' | translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{'MAINTENANCE' | translate }}
                        <br>{{'EMBRANCHMENT' | translate }}
                    </th>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="">{{bill.embranchementMaintenance}}</td>
                    <td class="">20.00</td>
                    <td class="">{{bill.embranchementMaintenance*20/100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'LOCATION' | translate }}
                        <br>{{'COUNTER' | translate }}
                    </th>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="">{{bill.meterLeasing}}</td>
                    <td class="">07.00</td>
                    <td class="">{{bill.meterLeasing*7/100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'MAINTENANCE' | translate }}
                        <br>{{'COUNTER' | translate }}
                    </th>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="">{{bill.meterMaintenance}}</td>
                    <td class="">20.00</td>
                    <td class="">{{bill.meterMaintenance*20/100}}</td>
                </tr>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6" class="">{{'WATER_CONSUMPTION' | translate }}</td>
                </tr>
                <tr>
                    <th scope="row">Tranche 5</th>
                    <td class="">{{bill.tranches.tranche5.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche5.quantity}}</td>
                    <td class="">{{bill.tranches.tranche5.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche5.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6" class="">Tppan</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 1</th>
                    <td class="">{{bill.tranches.tranche1.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche1.quantity}}</td>
                    <td class="">{{bill.tranches.tranche1.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche1.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 2</th>
                    <td class="">{{bill.tranches.tranche2.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche2.quantity}}</td>
                    <td class="">{{bill.tranches.tranche2.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche2.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 3</th>
                    <td class="">{{bill.tranches.tranche3.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche3.quantity}}</td>
                    <td class="">{{bill.tranches.tranche3.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche3.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <!--<div class="col-md-4"></div>-->
                <div class="offset-4 col-md-4">
                    <p class="card-text font-weight-bold">{{'TOTAL_HT' | translate }} :
                        <span class="font-weight-normal mx-2">700.00(DHs)</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="card-text font-weight-bold">{{'TOTAL_TVA' | translate }} :
                        <span class="font-weight-normal mx-2">39.21(DHs)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #electricityBillDetails>
    <div class="modal-header modal-radem">
        <h4 class="modal-title pull-left">{{'INVOICE_DETAILS' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="bs-callout callout-bordered bg-yellow bg-lighten-3">
            <div class="media align-items-stretch">
                <div class="d-flex align-items-center bg-warning p-2">
                    <i class="fa fa-bolt fa-lg white"></i>
                </div>
                <div class="media-body row  mt-1 ml-1">
                    <div class="col-4">
                        <p>
                            <b>{{'CONTRACT_NUMBER' | translate }}:</b> {{bill.police}}</p>
                    </div>
                    <div class="col-4">
                        <p>
                            <b>{{'INVOICE_NUMBER' | translate }}:</b> {{bill.numBill}}</p>
                    </div>
                    <div class="col-4">
                        <p>
                            <b>{{'INVOICE_AMOUNT' | translate }}:</b> {{bill.amount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-responsive">
                <thead class="table-dark">
                <tr>
                    <th scope="row">{{'LABEL' | translate }}</th>
                    <th scope="col">{{'UNIT_PRICE' | translate }}</th>
                    <th scope="col">{{'QUANTITY' | translate }}</th>
                    <th scope="col">{{'AMOUNT_HT' | translate }}</th>
                    <th scope="col">{{'VAT_RATE' | translate }}</th>
                    <th scope="col">{{'VAT_AMOUNT' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6" class="">{{'FIXED_FEES' | translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{'MAINTENANCE' | translate }}
                        <br>{{'EMBRANCHMENT' | translate }}
                    </th>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">{{bill.embranchementMaintenance}}</td>
                    <td class="">20.00</td>
                    <td class="">{{bill.embranchementMaintenance*20/100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'LOCATION' | translate }}
                        <br>{{'COUNTER' | translate }}
                    </th>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">{{bill.meterLeasing}}</td>
                    <td class="">07.00</td>
                    <td class="">{{bill.meterLeasing*7/100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'MAINTENANCE' | translate }}
                        <br>{{'COUNTER' | translate }}
                    </th>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="">{{bill.meterMaintenance}}</td>
                    <td class="">20.00</td>
                    <td class="">{{bill.meterMaintenance*20/100}}</td>
                </tr>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6">{{'ELECTRICITY_CONSUMPTION' | translate }}</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 5</th>
                    <td class="">{{bill.tranches.tranche5.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche5.quantity}}</td>
                    <td class="">{{bill.tranches.tranche5.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche5.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr class="bg-blue-grey bg-lighten-4 black text-center">
                    <td colspan="6">Tppan</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 1</th>
                    <td class="">{{bill.tranches.tranche1.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche1.quantity}}</td>
                    <td class="">{{bill.tranches.tranche1.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche1.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 2</th>
                    <td class="">{{bill.tranches.tranche2.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche2.quantity}}</td>
                    <td class="">{{bill.tranches.tranche2.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche2.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                <tr>
                    <th scope="row">{{'TRANCHE' | translate }} 3</th>
                    <td class="">{{bill.tranches.tranche3.unitPrice}}</td>
                    <td class="">{{bill.tranches.tranche3.quantity}}</td>
                    <td class="">{{bill.tranches.tranche3.unitPrice * bill.tranches.tranche1.quantity}}</td>
                    <td class="">14.00</td>
                    <td class="">{{bill.tranches.tranche3.unitPrice * bill.tranches.tranche1.quantity * 14 / 100}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <!--<div class="col-md-4"></div>-->
            <div class="offset-4 col-md-4">
                <p class="card-text font-weight-bold">{{'TOTAL_HT' | translate }}:
                    <span class="font-weight-normal mx-2">700.00(DHs)</span>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text font-weight-bold">{{'TOTAL_TVA' | translate }}:
                    <span class="font-weight-normal mx-2">39.21(DHs)</span>
                </p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #historyDetail>
    <div class="modal-header bg-radem">
        <h4 class="modal-title pull-left">{{'CONSUMPTION_HISTORY' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-responsive">
                    <thead class="table-secondary">
                    <tr>
                        <th scope="row">{{'PERIOD' | translate }}</th>
                        <th scope="col">{{'AMOUNT_HT' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let histo of history[0]?.consumptions; let i=index">
                        <td>{{chartLabels[i]}}</td>
                        <td>{{histo}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-title text-center">{{'EVOLUTION_OF_YOUR_CONSUMPTION_IN_(M3)' | translate }}</h5>
                    <div class="card-body">
                        <div style="display: block">
                            <canvas baseChart
                                    [chartType]="chartType"
                                    [datasets]="chartDatasets"
                                    [labels]="chartLabels"
                                    [colors]="chartColors"
                                    [options]="chartOptions"
                                    [legend]="true"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #linkContract>
    <div class="modal-header bg-radem">
        <h4 class="modal-title pull-left">
            {{'LINK_CONTRACT' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Fermer">
            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" novalidate [formGroup]="formLinkContract">
            <div class="form-group">
                <label for="numeroContrat" class="control-label">{{'CONTRACT_NUMBER' | translate}}</label>
                <input formControlName="numeroContrat" id="numeroContrat" class="form-control required"/>
                <div class="text-danger"
                     *ngIf="!formLinkContract.controls['numeroContrat'].valid && formLinkContract.controls['numeroContrat'].touched">
                    <div *ngIf="formLinkContract.controls['numeroContrat'].errors.required">
                        {{'FIELD_REQUIRED' | translate}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numeroFacture" class="control-label">{{'BILL_NUMBER' | translate}}<span
                                class="danger">*</span></label>
                        <input formControlName="numeroFacture" id="numeroFacture" class="form-control required"/>
                        <div class="text-danger"
                             *ngIf="!formLinkContract.controls['numeroFacture'].valid && formLinkContract.controls['numeroFacture'].touched">
                            <div *ngIf="formLinkContract.controls['numeroFacture'].errors.required">
                                {{'FIELD_REQUIRED' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="monthNumber" class="control-label">{{'MONTH' | translate}}<span
                                class="danger">*</span></label>
                        <select id="monthNumber" formControlName="month" class="form-control" required>
                            <option value="" disabled selected>Choisir un mois</option>
                            <option class="month" *ngFor="let item of [].constructor(12); let i = index"
                                    [value]="i+1">{{i+1}}
                            </option>
                        </select>
                        <div class="text-danger"
                             *ngIf="!formLinkContract.controls['month'].valid && formLinkContract.controls['month'].touched">
                            <div *ngIf="formLinkContract.controls['month'].errors.required">
                                {{'FIELD_REQUIRED' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide(); formLinkContract.reset()">
            {{'CANCEL' | translate}}
        </button>
        <button type="submit" class="btn btn btn-outline-primary" (click)="linkMyContract(formLinkContract.value);"
                [disabled]="formLinkContract.invalid">
            {{'SAVE' | translate}}
        </button>
    </div>
</ng-template>
