.container{
 // box-shadow: 0 0 10px 0 rgba(0,0,0,0.2) !important;
}

.table-responsive {
  margin-top: 15px;
}
table th, table td {
  padding: 0.5rem 1.5rem !important;
}
.water {
  background-color: #1ca3ec;
}
.electricity {
  background-color: #f9ca24;
}

.callout-bordered.bg-info {
  border-color: #00b5b8 !important;
  border-radius: 0.25rem !important;
  color: black;
}

.callout-bordered.bg-yellow {
  border-color: #ffa87d !important;
  border-radius: 0.25rem !important;
  color: #7d2900;
}

.mt-1 {
  margin-top: 1.3rem !important;
}

.border-electricity {
  border-bottom: 1px solid #f9ca24;
}

.border-water {
  border-bottom: 1px solid #1ca3ec;
}

.card-header{
  padding: 0.8rem;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;
  h3{
    margin-top: 8px;
  }
}
