<div class="col-md py-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Réglement</h3>
      <div class="row form-group">
        <label class="col-form-label col-md-2">Contrat</label>
        <div class="col-auto">
          <select class="custom-select col-auto">
            <option selected>Type de contrat</option>
            <option value="1">Eau</option>
            <option value="2">Electricite</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-md-2">Periode du</label>
        <div class="col-auto">
          <input type="text"
                 placeholder="01/01/2018"
                 class="form-control" [maxDate]="maxDate"
                 bsDatepicker placement="bottom" [outsideClick]="true" [bsConfig]="bsConfig">
        </div>
        <label class="col-form-label">Au</label>
        <div class="col-auto">
          <div class="col">
            <input type="text"
                   placeholder="Datepicker"
                   class="form-control" [maxDate]="maxDate"
                   bsDatepicker placement="bottom" [outsideClick]="true" [bsConfig]="bsConfig">
          </div>
        </div>
        <div class="col-auto float-right">
          <button type="button" class="btn btn-primary">Rechercher</button>
        </div>
      </div>
      <div class="mx-5 my-5">
        <table class="table table-bordered table-striped">
          <thead class="table-secondary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nº contrat</th>
            <th scope="col">Etat contrat</th>
            <th scope="col">Adresse facturation</th>
            <th scope="col">Derniere consomation</th>
            <th scope="col">Derniere facture</th>
            <th scope="col">Derniere a payer</th>
            <th scope="col">Historique de consomation</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Eau</td>
            <td>Test</td>
            <td>Test Test Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Electricité</td>
            <td>Test</td>
            <td>Test Test Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
