<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark"
                                          style="color: #2c5599;"></i> Dérnières Réclamations</h3>
    </div>
  </div>
</div>

<div class="content-body" id="table">
  <section class="row">
    <div class="col-md-8">
      <div id="what-is" class="mb-0">
        <div class="card-content collapse show">
          <form class="">
            <div class="card-body">

              <div class="row">
                <div class="col-6" style="padding: 7px 40px 25px 40px;">
                  <label style="font-size: 4.5rem;font-weight: 500;margin-right: 6px;">{{ totalCount }}</label>
                  <span>Total Réclamations</span>
                </div>

                <div class="col-6" style="padding: 7px 40px 25px 40px;">
                  <label style="font-size: 4.5rem;font-weight: 500;margin-right: 6px;">{{ todayCount }}</label>
                  <span>Aujourd'hui</span>
                </div>

              </div>


              <div class="table-responsive mx-auto">
                <table class="table col-lg-12">
                  <thead class="table-light" style="color: #0e1522;background-color: #d1d4d9;border-color: #bfc3ca;">
                  <tr>
                    <th scope="col">{{'OBJECT' | translate }}</th>
                    <th scope="col">{{'DATE_OF_CREATION' | translate }}</th>
                    <th scope="col">{{'STATUS' | translate }}</th>
                    <th scope="col">{{'TYPE_POSITION' | translate }}</th>
                    <th scope="col">{{'Actions' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>

                  <app-data-not-available
                    *ngIf="!reclamationCollection || reclamationCollection.length == 0; else dataAvailable"
                    [colSpan]="6"></app-data-not-available>

                  <ng-template #dataAvailable>
                    <tr
                      *ngFor="let claim of reclamationCollection  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">

                      <td class="cursor-pointer">
                        <h6 (click)="detailReclamtion(claim)"><a
                          class="alert-link">#{{ claim.properties.OBJECTID}}</a>
                          <span
                            *ngIf="claim.properties.DETAILS_RECLAMATION"> : {{claim.properties.DETAILS_RECLAMATION }}</span>
                        </h6>
                        <span class="claimant"
                              *ngIf="claim.properties.NOM_PRENOM"> Reclamée par : {{ claim.properties.NOM_PRENOM }}</span>
                        <span class="claimant"
                              *ngIf="!claim.properties.NOM_PRENOM"> Reclamée par : Non spécifié</span>
                      </td>

                      <td><span>{{ claim.properties.CREATED_DATE | date: 'dd/MM/yyyy' }}</span>
                      </td>

                      <td>
                        <span *ngIf="claim.properties.STATUT">{{ claim.properties.STATUT}}</span>

                        <span *ngIf="!claim.properties.STATUT">Sans Statut</span>
                      </td>

                      <td class="object-td">
                        <h6>Type :
                          <span
                            *ngIf="claim?.properties?.TYPE_RECLAMATION">{{decodeType(claim?.properties?.TYPE_RECLAMATION)}}</span>
                          <span *ngIf="!claim?.properties?.TYPE_RECLAMATION">Non spécifié</span>
                        </h6>
                        <span class="claimant"
                              *ngIf="claim.geometry.coordinates && claim.geometry.coordinates.length"> Position :
                          {{ claim?.geometry?.coordinates[1]?.toFixed(3) + ' , ' + claim?.geometry?.coordinates[0]?.toFixed(3) }}</span>
                        <span class="claimant"
                              *ngIf="!claim?.geometry?.coordinates || !claim?.geometry?.coordinates.length"> Position :
                          Non spécifié</span>
                      </td>

                      <td>
                        <i class="fa fa-list-alt cursor-pointer pl-1 fa-comment"
                           (click)="toggleSidePanel(true, claim)" tooltip="Répondre"></i>
                        <i class="fa fa-angle-double-right cursor-pointer pl-1 fa-comment"
                           style="font-size:20px;position: relative;top: 2px;"
                           (click)="nextStatus(claim)" tooltip="Modifier l'Etat"></i>
                        <i class="fa fa-list-alt cursor-pointer pl-1 fa-trash"
                           (click)="deleteFeature(claim)" tooltip="Supprimer"></i>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
          <div *ngIf="showPagination">
            <pagination-template #p="paginationApi" (pageChange)="currentPage = $event">
              <div>
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="p.isFirstPage()">
                    <a (click)="p.previous()"><i class="page-link">Précédent</i></a>
                  </li>

                  <li (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" class="page-link">
                    <a>{{ page.label }}</a>
                  </li>

                  <li class="page-item" [class.disabled]="p.isLastPage()">
                    <a (click)="p.next()"><i class="page-link">Suivant</i></a>
                  </li>
                </ul>
                <!--<div style="float: right; margin-right: 60px !important;">
                  <select class="form-control kt-font-brand" style="width: 60px;float: left;"
                          [(ngModel)]="itemsPerPage">
                    <option [ngValue]="10" selected>10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                  </select>
                  <span style="position: relative;left: 5px; top: 15px">
                      Total de {{ p.getTotalItems() }} réclamations
                    </span>
                </div>-->
              </div>
            </pagination-template>
          </div>
        </div>
      </div>
    </div>

    <!--/ What is-->
    <div class="col-md-4">
      <div>
        <div class="alert" style="color: #0e1522;background-color: #d1d4d9;border-color: #bfc3ca; margin-top: 5px;">
          <h3>
            Réclamantion: #{{ selectedReclamation.properties.OBJECTID || '-' }}
          </h3>
        </div>
        <div>
          <div id="map" style="height: 35vh"></div>

          <div>
            <table class="table" style="text-align: left;">
              <tr>
                <td> Nom et Prénom:</td>
                <td>{{ selectedReclamation?.properties?.NOM_PRENOM || '-' }}</td>
              </tr>
              <tr>
                <td> Contrat:</td>
                <td> {{ selectedReclamation?.properties?.CONTRAT || '-' }}</td>
              </tr>
              <tr>
                <td> Description:</td>
                <td> {{ selectedReclamation?.properties?.DETAILS_RECLAMATION || '-' }}</td>
              </tr>

              <tr>
                <td>Email:</td>
                <td> {{ selectedReclamation?.properties?.EMAIL || '-' }}</td>
              </tr>
              <tr>
                <td> Téléphone:</td>
                <td> {{ selectedReclamation?.properties?.TEL || '-' }}</td>
              </tr>

            </table>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<!-- quick side panel -->
<div class="kt-quick-panel" id="kt_quick_panel" [ngClass]="{'kt-quick-panel--on': showPanel}"
     style="overflow: hidden;opacity: 1;">
  <div class="kt-quick-panel__content kt-padding-0">
    <div class="kt-chat">
      <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
        <div class="kt-portlet__head">
          <div class="kt-chat__head ">
            <div class="kt-chat__left">
              <!--begin:: Aside Mobile Toggle -->
              <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop"
                      id="kt_chat_aside_mobile_toggle">
                <i class="flaticon2-open-text-book"></i>
              </button>
              <!--end:: Aside Mobile Toggle-->
            </div>

            <div class="kt-chat__center">
              <div class="kt-chat__label">
                <a href="#" class="kt-chat__title">{{ selectedReclamation.properties.NOM_PRENOM || '-' }}</a>
                <span class="kt-chat__status">
                  <span class="kt-badge kt-badge--dot kt-badge--success"></span> Réclamantion
                  #{{ selectedReclamation.properties.OBJECTID || '-' }}
                </span>
              </div>
            </div>

            <div class="kt-chat__right">
              <a class="fa fa-close" style="font-size:24px" (click)="toggleSidePanel(false)"><i
                class="flaticon2-delete"></i></a>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body" style="overflow-y: scroll; height: 500px;">
          <div class="kt-chat__messages">
            <div class="kt-chat__message">
              <div class="kt-chat__user">
                <div class="kt-badge kt-badge&#45;&#45;brand kt-badge&#45;&#45;lg kt-margin-r-10"><i
                  class="la la-user"></i></div>
                <a class="kt-chat__username">{{ selectedReclamation.properties.NOM_PRENOM || '-' }}</a>
                <span
                  class="kt-chat__datetime">{{ selectedReclamation.properties.CREATED_DATE | date: 'dd/MM/yyyy HH:mm'}}</span>
              </div>
              <div class="kt-chat__text kt-bg-light-success">
                {{ selectedReclamation.properties.DETAILS_RECLAMATION || '-' }}
              </div>
            </div>
            <div *ngFor="let item of messages" class="kt-chat__message"
                 [class.kt-chat__message&#45;&#45;right]="item?.properties?.EMITTEUR == 'RADEM'"
                 style="margin-left: 300px;">
              <div class="kt-chat__user" *ngIf="item?.properties?.EMITTEUR == 'RADEM'">
                <span class="kt-chat__datetime">{{ item?.properties?.CREATED_DATE | date: 'dd/MM/yyyy HH:mm'}}</span>
                <a class="kt-chat__username">{{ item?.properties?.EMITTEUR }}</a>
                <div
                  class="kt-badge kt-badge&#45;&#45;success kt-badge&#45;&#45;brand kt-badge&#45;&#45;lg kt-margin-r-10">
                  <i class="la la-user"></i></div>
              </div>
              <div class="kt-chat__user" *ngIf="item?.properties?.EMITTEUR !== 'RADEM'">
                <div class="kt-badge kt-badge&#45;&#45;brand kt-badge&#45;&#45;lg kt-margin-r-10"><i
                  class="la la-user"></i></div>
                <a class="kt-chat__username">{{ item?.properties?.EMITTEUR }}</a>
                <span class="kt-chat__datetime">{{ item?.properties?.CREATED_DATE | date: 'dd/MM/yyyy HH:mm'}}</span>
              </div>
              <div class="kt-chat__text kt-bg-light-brand" style="margin-left: 60px;">
                {{ item?.properties?.MESSAGE}}
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__foot">
          <div class="kt-chat__input">
            <div class="kt-chat__editor">
              <textarea style="height: 50px" placeholder="Type here..." [(ngModel)]="message"></textarea>
            </div>
            <div class="kt-chat__toolbar">
              <div class="kt_chat__tools">

              </div>
              <div class="kt_chat__actions">
                <button type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply"
                        (click)="sendMessage()">répondre
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showPanel" class="kt-quick-panel-overlay" (click)="toggleSidePanel(false)"></div>
<!-- end quick side panel -->








