.card-header {
  padding: 0.8rem;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;
  h3 {
    margin-top: 8px;
  }
  h4 {
    padding-left: 20px;
    font-weight: 100;
  }
}

.sub-header {
  padding: 0;
  .sub-title, .icon, .contract-dropdown {
    font-size: 1.1rem !important;
  }
  .content-header {
    .contract-dropdown {
      height: calc(2.3rem);
      margin-top: 4px;
    }
    .has-border {
      border-right: 1px solid #d3d3d3;
      line-height: 40.5px;
      height: 40.5px;
      overflow: hidden;
    }
    .sub-title, .icon, .contract-dropdown {
      font-size: 1.2rem;
      color: #2c5599;
    }
    .status {
      .icon {
        font-size: 0.8rem;
      }
      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.content-body {
  .content {
    padding: 15px;
    .deck.solde:after {
      background-image: url("../../../../assets/images/money.png");
    }
    .deck.solde {
      background-color: #204072;
    }
    .deck.bill:after {
      background-image: url("../../../../assets/images/bill.png");
    }
    .deck.bill {
      background-color: #3d9041;
    }
    .deck.payment:after {
      background-image: url("../../../../assets/images/debit-card.png");
    }
    .deck.payment {
      background-color: #0069b4;
    }
    .deck.location:after {
      background-image: url("../../../../assets/images/location.png");
    }
    .deck.location {
      background-color: #bb3442;
    }
    .deck:after {
      content: "";
      background-repeat: no-repeat;
      background-size: 29%;
      background-position: right bottom;
      opacity: 0.34;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      width: 95%;
      margin: 16px auto;
    }

    .deck {
      display: block;
      min-height: 200px;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 15px;
      .deck-body {
        padding: 15px;
        .title {
          font-weight: bold;
          font-size: 1.3rem;
        }
        .value {
          font-weight: bold;
          font-size: 2.7rem;
        }
      }
    }
    .card-deck-outline:after {
      background-image: url("../../../../assets/images/idea.png");
      background-size: 12%;
      width: 90%;
      margin: 40px auto;
    }
    .card-deck-outline {
      border: 1px solid #204072;
      border-radius: 5px;
      margin: 15px 0;
      max-height: 400px;
      overflow-y: scroll;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      .deck-body {
        padding: 15px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sub-header {
    .sub-title, .icon, .contract-dropdown {
      font-size: 1rem !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sub-header {
    padding: 15px 0;
    .has-border {
      border: none !important;
    }
    .sub-title, .icon, .contract-dropdown {
      font-size: 16px !important;
    }
  }
}
