<!--Tooltip Starts-->
<div class="content-header row">
   <div class="content-header-left col-md-6 col-12 mb-1">
      <h3 class="content-header-title">Mes réglements</h3>
   </div>
   <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
      <div class="breadcrumb-wrapper col-12">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a routerLink="/home">Accueil</a>
            </li>
            <li class="breadcrumb-item active">Mes réglements
            </li>
         </ol>
      </div>
   </div>
</div>
<div class="content-body" id="table">
   <section class="row">
      <div class="col-sm-12">
         <!-- What is-->
         <div id="what-is" class="card">
            <div class="card-header">
               <h4 class="card-title">Consulter vos réglements</h4>
               <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
               </div>
            </div>
            <div class="card-content collapse show">
                <form class="" [formGroup]="contractForm">
               <div class="card-body">
                  <div class="row col-md-8 col-sm-6 form-group">
                     <label class="col-form-label col-md-3">Contrat :</label>
                     <div class="col-md-6">
                        <select formControlName="contract" type="text" class="custom-select" #t (change)="setContract(t.value)">
                            <option value="" disabled selected>Choisissez un contrat..</option>
                            <option *ngFor="let contract of contracts" value="{{contract.id}}" >{{contract.contractNumber}} ({{contract.contractType}})</option>
                          </select>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row form-group">
                     <label class="col-form-label col-md-2">Periode du :</label>
                     <div class="col-md-3">
                        <input formControlName="startDate" type="date" class="form-control">
                     </div>
                     <label class="col-form-label">Au</label>
                     <div class="col-md-3">
                        <input formControlName="endDate" type="date" class="form-control">
                     </div>
                     <div class="col-auto float-right">
                        <button type="button" class="btn btn-primary" (click)="recherche();">Rechercher</button>
                        <button type="button" class="btn btn-primary download" (click)="getSettlementsReport()" >Télécharger</button>
                     </div>
                  </div>
                  <div class="table-responsive mx-auto my-5">
                     <table *ngIf="settlements" class="table table-bordered ">
                        <thead class="table-light">
                        <tr>
                           <th scope="col">Période de facturation</th>
                           <th scope="col">Nº Facture</th>
                           <th scope="col">Type de facture</th>
                           <th scope="col">Date de réglement</th>
                           <th scope="col">Montant en DH TTC</th>
                           <th scope="col">Mode de réglement</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let settlement of settlements">
                           <td>{{settlement.billingPeriod}}</td>
                           <td>{{settlement.billNumber}}</td>
                           <td>{{settlement.billType}}</td>
                           <td>{{settlement.settlementDate}}</td>
                           <td>{{settlement.amount}}</td>
                           <td>{{settlement.SettlementMode}}</td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               </form>
            </div>
         </div>
         <!--/ What is-->
      </div>
   </section>
</div>
