<div class="col-md-12 py-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Réclamation N°: </h4>
      <aw-wizard #wizard class="custom-css" [navBarLayout]="'large-empty-symbols'" [navigationMode]="'free'">

        <aw-wizard-step [stepId]="0" [stepTitle]="'Depôt de dossier'" [navigationSymbol]="{ symbol: '&#xf0f6;', fontFamily:'FontAwesome' }">
        </aw-wizard-step>

        <aw-wizard-step [stepId]="1" [stepTitle]="'Intervention'" [navigationSymbol]="{ symbol: '&#xf0ad;', fontFamily:'FontAwesome' }">
        </aw-wizard-step>

        <aw-wizard-step [stepId]="2" [stepTitle]="'Pose Compteur'" [navigationSymbol]="{ symbol: '&#xf0e4;', fontFamily:'FontAwesome' }">
        </aw-wizard-step>

        <aw-wizard-step [stepId]="3" [stepTitle]="'Facture'" [navigationSymbol]="{ symbol: '&#xf0d6;', fontFamily:'FontAwesome' }">
        </aw-wizard-step>

        <aw-wizard-step [stepId]="4" [stepTitle]="'Abonné'" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily:'FontAwesome' }">
        </aw-wizard-step>

        <div class="col-md-12" id="buttons">
          <button type="button" class="btn btn btn-outline-primary" (click)="focus()">Commentaire</button>
        </div>
      </aw-wizard>


      <div class="row" id="cards">
        <fieldset class="col-7 scheduler-border">
          <legend class="scheduler-border">
            <b>Informations :</b>
          </legend>
          <div style="padding-left: 20px;padding-bottom: 10px;">
            <div class="row">
              <div style="padding-left: 10px;">
                <table>
                  <tr>
                    <td>N° demande :</td>
                    <td>{{claim?.claimNumber}}</td>
                  </tr>
                  <tr>
                    <td>Client :</td>
                    <td>{{claim?.complainer.fullName}}</td>
                  </tr>
                  <tr>
                    <td>Date de création :</td>
                    <td>{{claim?.createdDate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="col-4 scheduler-border">
          <legend class="scheduler-border">
            <b>Intervenants :</b>
          </legend>
          <div style="padding-left: 20px;">
            <table>
              <tr>
                <td>Agent :</td>
                <td>{{claim?.agent?.firstname}} {{claim?.agent?.lastname}}</td>
              </tr>
              <tr>
                <td>Service concerné :</td>
                <td></td>
              </tr>
            </table>
          </div>
        </fieldset>
      </div>
      <div class="row" id="cards2">
        <fieldset class="col-7 scheduler-border">
          <legend class="scheduler-border">
            <b>Commentaires</b>
          </legend>
          <div id="commDiv">
            <form class="" [formGroup]="commentForm">
              <div class="row">

                <input #commentaire formControlName="comment" type="text" class="col-9 form-control" placeholder="Laisser un commentaire.."
                  style="margin-right: 8px;margin-left: 10px;" />

                <button class="btn btn btn-outline-primary" (click)="addComment()">Envoyer</button>
              </div>
            </form>
            <br>
          </div>
        </fieldset>
        <fieldset class="col-4 scheduler-border" id="divDate">
          <legend class="scheduler-border">
            <b>Description :</b>
          </legend>
          <div style="padding-left: 20px;">
            <table>
              <tr>
                <td>Objet :</td>
                <td>{{claim?.object}}</td>
              </tr>
              <tr>
                <td>Description :</td>
                <td>{{claim?.description}}</td>
              </tr>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<ng-template #addIntervention>
  <div class="modal-header bg-radem">
    <h4 class="modal-title pull-left">Veuillez remplir les champs suivants pour passer à l'étape suivante :</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Fermer">
      <span aria-hidden="true">
        <i class="fa fa-times-circle"></i>
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form class="" [formGroup]="">
              <label>Agent d'intervention :</label>
              <select formControlName="agent" type="text" #t class="col-12 form-control">
                <option value="" disabled selected>Choisissez un agent..</option>
                <option *ngFor="" value=""></option>
              </select>
              <label>Date d'intervention :</label>
              <input formControlName="dateIntervention" type="date" class="col-12 form-control">
              <label>Tel d'agent :</label>
              <input formControlName="phone" type="tel" class="col-12 form-control" readonly>
              <div class="col-md-12" style="margin-left : 34%">
                <button class="btn btn btn-outline-primary center" id="buttons-update" (click)="modalRef.hide();">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
