<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin"><i class="icon-settings"></i> Administration</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notification d'alerte</li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Ajouter une alerte</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="alertForm">
        <div class="col-12 form-group">
          <div class="row">
            <label class="col-form-label col-2">Alerte :</label>
            <div class="col-4">
              <select formControlName="type" class="custom-select" type="text" #t (change)="setAlert(t.value)">
                <option value="" selected disabled>Faite votre choix</option>
                <option *ngFor="let alert of alerts" value="{{alert.id}}">{{alert.title}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 form-group">
          <div class="row">
            <label class="col-form-label col-2">Aperçu de l'alerte :</label>
            <div class="col-8">
              <textarea formControlName="description" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12 form-group">
          <div class="row">
            <label class="col-form-label col-2">Le contrat concerné :</label>
            <div class="col-3">
              <select formControlName="contract" class="custom-select" type="text" #t2 (change)="setClient(t2.value)">
                <option value="" selected disabled>Choisissez un contrat</option>
                <option *ngFor="let contract of contracts" value="{{contract.contract}}">{{contract.contract}}
                </option>
              </select>
            </div>
            <div class="col-3">
              <input formControlName="client" type="text" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right">
            <button class="btn btn btn-outline-primary pull-right" (click)="saveNotificationAlert()">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
