.total-unpaid{
  //background-color: #d3d3d3;
  //border: 1px solid #C2C2C2;
  background-color: #F6E1DE;
  border: #F1B674 solid 1px;
  padding: 1em;
}
.table-light-blue{
  background-color: #60AFFF;
  color: #ffffff;
}
.table-head-green{
  background-color: #52B788;
}
