<!--Tooltip Starts-->
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Inscription</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" [navigationMode]="'strict'">
              <aw-wizard-step [stepTitle]="'Steptitle 1'" [navigationSymbol]="{ symbol: '1' }" [canExit]="canExitStep1"
                              class="offset-4 col-md-4">
                <div class="mx-auto my-5">
                  <form #contratForm="ngForm" class="mx-auto ng-pristine ng-valid ng-touched" novalidate>
                    <div class="container my-5 mx-5">
                      <div class="form-check form-check-inline">
                        <input class="form-control-input" type="radio" name="radioOption" id="factRadio" [(ngModel)]="selectedvalue"
                               value="fact" (change)="onSelect(selectedvalue)">
                        <label class="form-check-label" for="factRadio">Facture</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioOption" id="contRadio" [(ngModel)]="selectedvalue"
                               value="cont" placeholder="contrat" (change)="onSelect(selectedvalue)">
                        <label class="form-check-label" for="contRadio">Contrat</label>
                      </div>
                      <!--[(checked)]="!radioOption"-->
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioOption" id="refRadio" [(ngModel)]="selectedvalue"
                               value="ref" (change)="onSelect(selectedvalue)">
                        <label class="form-check-label" for="refRadio">Reference</label>
                      </div>
                    </div>
                    <div class="container mx-5">
                      <!-- div Facture-->
                      <div *ngIf="selectedvalue === 'fact'" class="form-group form-inline my-5" id="factInput">
                        Facture
                        <div class="">
                          <input type="text" #facture="ngModel" required id="facture" name="facture" [(ngModel)]="selectedvalue"
                                 class="form-control form-control mx-3" placeholder="Facture">
                        </div>
                        <div class="alert alert-danger " [hidden]="facture.valid">Facture is required and must be valid</div>
                      </div>

                      <!-- div Contrat-->
                      <div *ngIf="selectedvalue === 'cont'" class="form-group form-inline my-5" id="contInput">
                        <div class="my-3">Service
                          <select class="form-control mx-3" id="">
                            <option>Eau</option>
                            <option>Electricité</option>
                          </select>
                        </div>
                        <div class="my-3">Contrat
                          <input type="text" required #contrat="ngModel" id="contrat" name="contrat" [(ngModel)]="selectedvalue"
                                 class="form-control form-control mx-3" placeholder="Nº de contrat">
                        </div>
                      </div>

                      <!-- div Reference-->
                      <div *ngIf="selectedvalue === 'ref'" class="form-group form-inline my-5" id="refInput">
                        <!--<label for="colFormLabelSm" class="">Reference</label>-->
                        Reference
                        <input type="text" required #reference="ngModel" id="reference" name="reference" [(ngModel)]="selectedvalue"
                               class="form-control ml-3 col-md-2">
                        -
                        <input type="text" class="form-control ref-form col-md-2">
                        -
                        <input type="text" class="form-control ref-form col-md-2">
                      </div>
                    </div>

                    <!--<div class="form-inline justify-content-center">-->
                    <!--<input type="checkbox" class="form-check-input">-->
                    <!--<a class="form-check-label mx-3" href="#">Conditions générales d'utilisation</a>-->
                    <!--</div>-->
                    <!--<div class="mt-5" align="center">-->
                    <!--<button class="btn btn-outline-primary" (click)="goToNext(contratForm)" [disabled]="!contratForm.valid">Suivant</button>-->
                    <!--</div>-->
                    <!--</div>-->
                  </form>
                  <div class="col">
                    <div class="content my-3 mx-5">
                      <input id="canExitStep1" type="checkbox" [(ngModel)]="canExitStep1"/>
                      <label for="canExitStep1">Conditions générales d'utilisation</label>
                    </div>
                    <div class="btn-group mx-5">
                      <button type="button" class="btn btn-primary" awNextStep>Suivant</button>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Steptitle 2'" [navigationSymbol]="{ symbol: '2' }" [canExit]="canExitStep2">
                <div class="offset-4 col-md-4 my-5">
                  <h6> Veuillez remplir les champs ci dessous pour créer votre compte en ligne</h6>
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nom et prenom</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom complet">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Example select</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Réponse</label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="650(kWh)">
                    </div>
                  </form>

                  <div class="checkbox">
                    <input id="canExitStep2" type="checkbox" [(ngModel)]="canExitStep2"/>
                    <label for="canExitStep2">Allow exiting step 2</label>
                  </div>
                  <div class="btn-group mx-5">
                    <button type="button" class="btn btn-primary" awNextStep>Suivant</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Steptitle 3'" [navigationSymbol]="{ symbol: '3' }" [canExit]="canExitStep3">
                <div class="offset-4 col-md-4 my-5">
                  <h6> Veuillez renseigner vos coordonées dans les champs ci dessous pour confirmer votre inscription</h6>
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nom et prénom</label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Taha Mounjid">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Adresse mail</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="taha.m@exemple.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Numero de téléphone</label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="">
                    </div>
                  </form>

                  <div class="checkbox">
                    <input id="canExitStep3" type="checkbox" [(ngModel)]="canExitStep3"/>
                    <label for="canExitStep3">Allow exiting step 3</label>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" awNextStep>Suivant</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-completion-step [stepTitle]="'Steptitle 4'" [navigationSymbol]="{ symbol: '4' }">
                Content of Step 4
                <!--<button type="button" class="btn btn-primary" (click)="finishFunction()">Finish</button>-->
              </aw-wizard-completion-step>
            </aw-wizard>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>