<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> {{'CLAIMS' | translate }}</h3>
        </div>
      <!--<div class="col-md-6 col-12 text-right container-btn-new-claim">-->
        <!--<a routerLink="/services/new-cancellation-request" class="btn btn-primary btn-new-claim">-->
          <!--<i class="fa fa-plus"></i> {{'NEW_REQUEST' | translate}}</a>-->
      <!--</div>-->
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row justify-content-between">
                            <div class="col-12">
                                <div class="float-left">
                                    <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">{{'CLAIM_NUMBER' | translate }}</th>
                                <th scope="col">{{'OBJECT' | translate }}</th>
                                <th scope="col">{{'CREATED_ON' | translate }}</th>
                                <th scope="col">{{'Status' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <app-data-not-available *ngIf="!complaints || complaints.length == 0; else dataAvailable"
                                                    [colSpan]="4"></app-data-not-available>

                            <ng-template #dataAvailable>
                                <tr *ngFor="let complaint of complaints">
                                    <td><a [routerLink]="['/services/claim-request/', complaint.id]"><b>{{complaint.claimNumber}}</b></a>
                                    </td>
                                    <td>{{complaint.object}}</td>
                                    <td>{{complaint.createdDate | date:'dd-M-yyyy'}}</td>
                                    <td><app-badge [status]="complaint.status"></app-badge></td>
                                </tr>
                            </ng-template>
                            </tbody>
                        </table>
                        <app-pagination [showPagination]="totalPages > 1"
                                        [numberOfItems]="numberOfItems"
                                        [itemsPerPage]="itemsPerPage"
                                        [totalItems]="totalElements"
                                        [totalPages]="totalPages"
                                        (onpageChanged)="pageChanged($event)"></app-pagination>
                    </div>
                </div>
                <!--/ What is-->
            </div>
        </div>
    </section>
</div>
