<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Réclamations</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a>Services</a>
        </li>
        <li class="breadcrumb-item active">Réclamations
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Consulter vos demandes</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
            <ul class="list-inline">
              <li>
                <a routerLink="/services/new-claim-request">
                  <i class="fa fa-plus"></i> Nouvelle réclamation</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nº de demande</th>
                  <th scope="col">Objet</th>
                  <th scope="col">Créée le </th>
                  <th scope="col">Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let complaint of complaints">
                  <td><a [routerLink]="['/services/claim-request/', complaint.id]"><b>{{complaint.claimNumber}}</b></a></td>
                  <td>{{complaint.object}}</td>
                  <td>{{complaint.createdDate | date: 'dd/MM/yyyy'}}</td>
                  <td><span  class="badge badge-primary">{{complaint.status}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
</div>
