<!-- fixed-top-->
<nav id="stackNav" #stackNav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs">
            <i class="ft-menu font-large-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/home" style=" padding-top: 7px;">
            <img alt="stack admin logo" src="assets/app/images/logo/radem-logo-ico.png" class="brand-logo" id="stackLogo" style="height: 40px;">

            <img alt="stack admin logo" src="assets/app/images/logo/radem-logo.png" class="brand-logo" id="stackLogo-text" style="height:  30px; padding-left: 0;">
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div id="navbar-mobile" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block">
            <a routerLink="/changelog" class="nav-link nav-menu-main hidden-xs font-small-3 d-none" id="stackNavBack" #stackNavBack>
              <i class="ft-arrow-left"></i>Back
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item" ngbDropdown placement="bottom-right">
            <a href="javascript:;" class="dropdown-toggle nav-link dropdown-user-link" id="dropdownUser" ngbDropdownToggle>
              <span class="avatar avatar-online">
                <img [src]="user?.avatar" class="rounded-circle" alt="avatar">
              </span>
              <span class="user-name">{{user?.firstname + ' '+ user?.lastname}}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownUser">
              <a class="dropdown-item" routerLink="/account/profile" >
                <i class="ft-user"></i> Mon compte
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                <i class="ft-power"></i> Déconnexion
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
