#stackNav {
  .navbar-header {

  }
  .navbar-container {
    .nav {
      .dropdown {
        .avatar {
          width: 35px;
          img {
            width: 35px;
            height: 35px;
          }
        }
        .user-name {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.text-muted {
  color: #b2b8c3 !important;
}

.btn-subscribe{
  margin-top: 9px;
  padding: 8px;
  background-color: #c53b3b !important;
  border-color: #c53b3b !important;
}
.btn-subscribe:hover{
  background-color: #b33a3a !important;
}
