#releve {
  margin-top: 0.6rem;
  margin-left: 10rem;
}

.min {
  margin-left: 2rem;
}

.max {
  margin-left: 3rem;
}

.table th, .table td {
  padding: 0.75rem 2rem !important;
  text-align: center;
}

.download {
  margin-left: 10px;
}

img {
  max-width: 250px;
  padding-left: 2rem;

}

#img {
  padding-top: 0.3rem !important;
}

.centered {
  margin-left: 26rem;
}

.bgcolor {
  background-color: #00B5B8;
  color : white;
}

.counter-info {
  margin-top: 2.1rem;
}

.min-height {
  min-height: 216px;
}
