#releve {
  margin-top: 0.6rem;
  margin-left: 12rem;
}

.min {
  margin-left: 2rem;
}

.max {
  margin-left: 3rem;
}

.table th, .table td {
  padding: 0.75rem 1rem !important;
}

.download {
  margin-left: 10px;
}

img {
  max-width: 250px;
  padding-left: 2rem;
}

#img {
  padding-top: 0.3rem !important;
}
