<div>
    <nav aria-label="breadcrumb" class="doNotPrint">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><i class="icon-settings"></i> Administration</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des utilisateurs</li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <section>
                    <div class="doNotPrint">
                        <h4 class="card-title text-muted">Liste des utilisateurs</h4>
                        <div class="row ">
                            <div class="col-12">
                                <div class="float-left">
                                    <form class="form-inline">
                                        <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover"
                               sortable-table (sorted)="onSorted($event)"
                               filterable-table (filtred)="onFiltred($event)">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">{{'Prénom' | translate }}
                                    <span sortable-column="firstName"></span>
                                    <span filterable-column="firstName" filter-type="text"
                                         filter-placeholder="{{'Prénom' | translate }}"></span>
                                </th>
                                <th scope="col">{{'Nom' | translate }}
                                    <span sortable-column="lastName"></span>
                                    <span filterable-column="lastName" filter-type="text"
                                         filter-placeholder="{{'Nom' | translate }}"></span>
                                </th>
                                <th scope="col">{{'Username' | translate }}
                                    <span sortable-column="username"></span>
                                    <span filterable-column="username" filter-type="text"
                                         filter-placeholder="{{'Username' | translate }}"></span>
                                </th>
                                <th scope="col">{{'Service' | translate }}
                                    <span sortable-column="service"></span>
                                    <span filterable-column="service" filter-type="text"
                                         filter-placeholder="{{'Service' | translate }}"></span>
                                </th>
                                <th scope="col">{{'E-mail' | translate }}
                                    <span sortable-column="email"></span>
                                    <span filterable-column="email" filter-type="text"
                                         filter-placeholder="{{'E-mail' | translate }}"></span>
                                </th>
                                <th scope="col">{{'Profil' | translate }}
                                    <span sortable-column="profile"></span>
                                    <span filterable-column="profile" filter-type="select"
                                         filter-placeholder="{{'Profil' | translate }}"></span>
                                </th>
                                <th scope="col">{{'Crée le' | translate }}
                                    <span sortable-column="createdDate"></span>
                                    <span filterable-column="createdDate" filter-type="date"
                                         filter-placeholder="{{'Crée le' | translate }}"></span>
                                </th>
                                <th scope="col" width="110">{{'Actions' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <app-data-not-available *ngIf="!users || users.length == 0; else dataAvailable"
                                                    [colSpan]="8"></app-data-not-available>

                            <ng-template #dataAvailable>
                                <tr *ngFor="let user of users; let i = index"
                                    [ngClass]="{'table-secondary': !user.enabled}">
                                    <td scope="row">{{user.firstname}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.service}}</td>
                                    <td><p>{{user.email}}</p></td>
                                    <td>{{user.profile}}</td>
                                    <td>{{user.createdDate}}</td>
                                    <td>
                                        <ngx-toggle
                                                onColor="primary"
                                                onText="Activé"
                                                offColor="secondary"
                                                offText="Désactivé"
                                                [size]="'sm'"
                                                [(value)]="user.enabled"
                                                (click)="changeEnabled($event, user)">
                                        </ngx-toggle>
                                        <ul class="list-inline list-unstyled text-center">
                                            <li class="list-inline-item">
                                                <i class="fa fa fa-fw fa-times text-danger actions_icon cursor-pointer"
                                                   tooltip="Supprimer"
                                                   (click)="dropUser(user.id)"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-fw fa-pencil text-info actions_icon cursor-pointer"
                                                   tooltip="Editer"
                                                   [routerLink]="['/admin/users/', user.id]"></i>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <app-pagination [disabled]="false"
                                    [numberOfItems]="numberOfItems"
                                    [itemsPerPage]="itemsPerPage"
                                    [totalItems]="totalElements"
                                    [totalPages]="totalPages"
                                    (onpageChanged)="pageChanged($event)"></app-pagination>
                </section>
            </div>
        </div>
    </div>
</div>
