.bg-radem{
  background-color: #0052a2;
}
.modal-radem .modal-title{
  color: #FFFFFF;
}
.modal-radem .close{
  text-shadow: none;
}
.text-table p{
  display: inline;
  padding: 0px 5px;
}
.bg-blue{
  background-color: #4a90e2;
}
.table-head-green{
  background-color: #52B788;
}
.table-head-l-orange{
  background-color: #FFEEDB;
  border: #F1B674 solid 1px;
}
.table-b-orange{
  border: #F1B674 solid 1px;
}
