<div class="col-md py-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Demande de résiliation</h4>
      <ul class="steps steps-7">
        <li [ngClass]="{current: terminationRequest.status === 'CREATED'}">
          <p class="mx-auto">
            <em>Créée</em>
          </p>
        </li>
        <li [ngClass]="{current: terminationRequest.status === 'RECEIVED'}">
          <p>
            <em>Reçue</em>
          </p>
        </li>
        <li [ngClass]="{current: terminationRequest.status === 'OK'}">
          <p>
            <em>Intervention en cours</em>
          </p>
        </li>
        <li>
          <p>
            <em>Compteur deposé</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Verification impayés</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Reglement/Remboursement</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Cloture</em>
            <span></span>
          </p>
        </li>
      </ul>
      <div class="row col col-md-12">
        <div class="col col-md-6">
          <div class="card grouped">
            <div class="card-header">
              Informations
            </div>
            <div class="card-body">
              <p>Demande de résiliation N°: {{terminationRequest.requestNumber}}</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="card grouped">
            <div class="card-header">
              Intervenant
            </div>
            <div class="card-body">
              <p *ngIf="!terminationRequest.intervenant" class="text-center">Aucun intervenant n'est affecté pour le moment</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row col col-md-11 card grouped">
        <div class="container">
          <form class="form-inline">
            <div class="form-group">
              <label for="feedback">Votre feedBack </label>
              <input [formControl]="feedback" class="form-control" id="feedback">
            </div>

            <button class="btn btn-dark" (click)="saveFeedback()">Envoyer</button>
          </form>
          <div class="bubbles">
            <div class="bubble" *ngFor="let feedback of terminationRequest.feedback">
              {{feedback.message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
