<div class="col-md py-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Demande de résiliation</h4>
      <ul class="steps steps-7">
        <li>
          <p class="mx-auto">
            <em>Créée</em>
          </p>
        </li>
        <li>
          <p>
            <em>Reçue</em>
          </p>
        </li>
        <li class="current">
          <p>
            <em>Intervention en cours</em>
          </p>
        </li>
        <li>
          <p>
            <em>Compteur deposé</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Verification impayés</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Reglement/Remboursement</em>
            <span></span>
          </p>
        </li>
        <li>
          <p>
            <em>Cloture</em>
            <span></span>
          </p>
        </li>
      </ul>
      <div class="row col col-md-12">
        <div class="col col-md-6">
          <div class="card grouped">
            <div class="card-header">
              Informations
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="card grouped">
            <div class="card-header">
              Intervenant
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
      <div class="row col col-md-11 card grouped">
        <div class="container">
          <form class="form-inline">
            <div class="form-group">
              <label for="feedback">Votre feedBack </label>
              <input class="form-control" id="feedback">
            </div>

            <button class="btn btn-dark">Envoyer</button>
          </form>
          <section class="content">
            <div class="row">
              <div class="col-md-10">
                <ul class="timeline timeline-inverse">
                  <li class="time-label">
                    <span class="bg-secondary text-white">
                      11/11/2019
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-user bg-secondary"></i>
                    <div class="timeline-item">
                      <span class="time text-white">
                        <i class="fa fa-clock-o text-white"></i>&nbsp;11h28</span>
                      <h3 class="timeline-header bg-secondary text-white" style="cursor: pointer;">Intervention en cours</h3>
                      <div class="timeline-body">
                        Information supplémentaire
                      </div>
                      <!-- <div class="timeline-footer"></div> -->
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-user bg-secondary"></i>
                    <div class="timeline-item">
                      <span class="time text-white">
                        <i class="fa fa-clock-o text-white"></i>&nbsp;09h13</span>
                      <h3 class="timeline-header bg-secondary text-white" style="cursor: pointer;">Intervention en cours</h3>
                      <div class="timeline-body">
                        Information supplémentaire
                      </div>
                      <!-- <div class="timeline-footer"></div> -->
                    </div>
                  </li>
                  <li class="time-label">
                  <span class="bg-secondary text-white">
                    03/10/2019
                  </span>
                  </li>
                  <li>
                    <i class="fa fa-user bg-secondary"></i>
                    <div class="timeline-item">
                      <span class="time text-white">
                        <i class="fa fa-clock-o text-white"></i>&nbsp;14h07</span>
                      <h3 class="timeline-header bg-secondary text-white" style="cursor: pointer;">Reçue</h3>
                      <div class="timeline-body">
                        Information supplémentaire
                      </div>
                      <!-- <div class="timeline-footer"></div> -->
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-clock-o bg-secondary"></i>
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
