.container{
  height: 100vh;
  line-height: 30px;
}
.content {
  padding-top: 100px;
  margin: auto;
}
.signature {
  padding-top: 30%;
  text-align: right;
}
.rib {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
