<div id="printSection" class="col col-md-12">
  <h2 class="text-center">{{'AUTONOMOUS_WATER_AND_ELECTRICITY_DISTRIBUTION_REGION' | translate }}</h2>
  <h2 class="text-center">DIVISION CLIENTÈLE{{'CUSTOMER_DIVISION' | translate }}</h2>
  <h2 class="text-center">SERVICE COMMERCIAL{{'COMMERCIAL SERVICE' | translate }}</h2>
  <br>
  <h1 class="text-center font-weight-bold">{{'Request_for_cancellation' | translate }}</h1>
  <br>
  <div class="row col-md-10">
    <p>DR N° 11111</p>
  </div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'APPLICANT' | translate }}</legend>
    <div class="row">
      <div class="col col-md-12">
        {{'LASTNAME_AND_FIRSTNAME' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4">
        CIN N°:
      </div>

      <div class="col col-md-4">
        {{'ISSUED_ON' | translate }} :
      </div>

      <div class="col col-md-4">
        {{'AT' | translate }}:
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-12">
        <input type="checkbox"> {{'CLIENT' | translate }}
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-12">
        <input type="checkbox"> {{'PROXY' | translate }}
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-6">
        <input type="checkbox">{{'LETTER_N°' | translate }}
      </div>
      <div class="col col-md-6">
        du
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-12">
        <input type="checkbox"> {{'SUCCESSION' | translate }}
      </div>
    </div>
  </fieldset>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'SUBSCRIPTION_POLICIES' | translate }}</legend>
    <div class="row">
      <div class="col col-md-12">
        <input type="checkbox"> {{'WATER' | translate }}
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-6">
        {{'POLICE' | translate }} :
      </div>

      <div class="col col-md-6">
        {{'TOUR' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <input type="checkbox"> {{'ELECTRICITY' | translate }}
      </div>
    </div>
    <div class="row marginLeft">
      <div class="col col-md-6">
        {{'POLICE' | translate }}:
      </div>

      <div class="col col-md-6">
        {{'TOUR' | translate }}:
      </div>
    </div>
  </fieldset>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'CLIENT' | translate }}</legend>
    <div class="row">
      <div class="col col-md-12">
        {{'CLIENT_NAME' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        {{'CONSUMPTION_ADDRESS' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        {{'FIXED_TELEPHONE_NUMBER' | translate }} :
      </div>

      <div class="col col-md-6">
        {{'PORTABLE' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        {{'FUNCTION' | translate }}:
      </div>

      <div class="col col-md-6">
        {{'WORKPLACE' | translate }} :
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        {{'MAILING_ADDRESS' | translate }} :
      </div>
    </div>
  </fieldset>
  <div class="col col-md-12 ups">
    {{'DATE_OF_REMOVAL_OF_THE_COUNTER' | translate }} :
  </div>
  <br>
  <p>Fait le : ...</p>
  <br>
  <table class="col col-md-12">
    <tr>
      <td>
        {{'TERMINATION_DESK' | translate }}
        <br> {{'AGENT RADEEM' | translate }}
        <br> {{'MISS' | translate }} :
        <br>
        <p class="marginVisa">VISA:</p>
      </td>
      <td>{{'SIGNATURE' | translate }}</td>
    </tr>
  </table>
</div>
