<div class="col-md py-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Liste des demandes de résiliation</h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nº de demande</th>
              <th scope="col">Fait le</th>
              <th scope="col">Polices d'abonnement</th>
              <th scope="col">Statut</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
