
<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark"
                                          style="color: #2c5599;"></i> {{'Requests_for_termination' | translate}}</h3>
    </div>
    <!--<div class="col-md-6 col-12 text-right container-btn-new-subscription-request">-->
      <!--<a routerLink="/services/new-cancellation-request" class="btn btn-primary btn-new-cancellation">-->
        <!--<i class="fa fa-plus"></i> {{'New_request_for_cancellation' | translate}}</a>-->
    <!--</div>-->
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->
      <div id="what-is" class="mb-0">
        <div class="card-content collapse show">
          <div class="card-body">
            <div class="card-text">
              <div class="col-12">
                <div class="card-header content-header back sub-header row marginVisual">
                  <div class="col-12 content-header">
                    <div class="row align-items-center">

                      <!-- *T LISTE ******* -->
                      <div class="col-md-3 has-border">
                        &nbsp;
                        <label class="Cap">
                          <i class="fa fa-list-ul icon "></i>&nbsp;
                          {{"CONTRACT_LISTS" | translate}}
                        </label>
                        <select type="text" class="form-control contract-dropdown" [(ngModel)]="selectedContract"
                                (ngModelChange)="setContract(selectedContract)">
                          <option value="" disabled selected>{{'CHOOSE_A_CONTRACT' | translate}} ...</option>
                          <option *ngFor="let contract of clientContracts" value="{{contract.contractNo}}">
                            {{contract.contractNo}}
                            ({{contract.type}})
                          </option>
                        </select>
                      </div>
                      <!-- *T END LISTE ******* -->

                      <!-- *T RAISON ******* -->
                      <div class="col-md-2 has-border">
                        <label class="Cap">
                          <i class="fa fa-user icon"></i>&nbsp;
                          {{"COMPANY_NAME" | translate}}
                        </label>
                        <h6 class="sub-title" [hidden]="!clientDetails">
                          {{clientDetails?.holderFirstname}} {{clientDetails?.holderLastname}}
                        </h6>
                      </div>
                      <!-- *T END RAISON ******* -->

                      <!-- *T ADDRESS ******* -->
                      <div class="col-md-4 has-border">
                        <label class="Cap">
                          <i class="fa fa-map-marker icon"></i>&nbsp;
                          {{"ADDRESS" | translate}}
                        </label>
                        <h6 class="sub-title" [hidden]="!clientDetails">{{clientDetails?.consumptionAddress}}</h6>
                      </div>
                      <!-- *T END ADDRESS ******* -->

                      <!-- *T STATUS ******* -->
                      <div class="col-md-3 has-border" >
                        <!-- <div class="status text-left">

                           <i class="fa fa-circle icon"
                              [ngClass]="clientDetails?.contractStatus === 'active' ? 'success' : 'danger' "></i>&nbsp;
                          <span>{{clientDetails?.contractStatus}}</span>
                        </div> -->
                        <label class="Cap">
                          <i class="fa fa-circle-o-notch icon"></i>&nbsp;
                          {{"CONTRACT STATUS" | translate}}
                        </label>
                        <h6 class="sub-title" [hidden]="!clientDetails">{{clientDetails?.contractStatus}}</h6>
                      </div>
                      <!-- *T END STATUS ******* -->


                    </div>

                  </div>
                </div>
              </div>
              <div class="table-responsive mt-2">
                <table class="table">
                  <thead class="table-light">
                  <tr>
                    <th scope="col">{{'REQUEST_NUMBER' | translate }}</th>
                    <th scope="col">{{'CREATED_ON' | translate }}</th>
                    <th scope="col">{{'DATE_OF_REMOVAL_OF_THE_COUNTER' | translate }}</th>
                    <th scope="col">{{'Status' | translate }}</th>
                    <th scope="col" width="240">{{'ACTIONS' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <app-data-not-available
                    *ngIf="!cancellationtionRequests || cancellationtionRequests.length == 0; else dataAvailable" [colSpan]="4">
                  </app-data-not-available>

                  <ng-template #dataAvailable>
                    <tr *ngFor="let request of cancellationtionRequests">
                      <td><b>{{request?.requestNo}}</b></td>
                      <td>{{request?.createdAt | date:'dd-MM-yyyy'}}</td>
                      <td>{{request?.counterRemovalDate | date:'dd-MM-yyyy'}}</td>
                      <td>
                         <app-badge [status]="request?.status?.status"></app-badge>
                      </td>
                      <td>
                        <i class="fa fa-list-alt cursor-pointer pl-1 text-info"
                           tooltip="Détails" [routerLink]="['/services/cancellation-detail/', request?.requestNo]"></i>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
                <app-pagination [showPagination]="totalPages > 1"
                                [numberOfItems]="numberOfItems"
                                [itemsPerPage]="itemsPerPage"
                                [totalItems]="totalElements"
                                [totalPages]="totalPages"
                                (onpageChanged)="pageChanged($event)"></app-pagination>
              </div>
            </div>
          </div>
        </div>
        <!--/ What is-->
      </div>
    </div>
  </section>
  <div class="content">
    <div class="deck card-deck-outline">
      <div class="deck-body">
        <h4 class="card-deck-title mb-0">{{'ADVICE_AND_ENERGY_SAVING' | translate}}</h4>
        <div class="card-deck-content">
          <div class="card-body">
            <div [innerHTML]="dynamic?.content || '' | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
























