<div class="container-fluid">
  <div class="row" id="home">
    <div class="col col-md-12">
      <div class="row">
        <div class="col col-md-6">
          <div class="card grouped">
            <h5 class="card-header">
              Prochaine facture
            </h5>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Montant</th>
                  <th scope="col">Volume</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Electricite</th>
                  <td>600.00</td>
                  <td>493(kWh)</td>
                </tr>
                <tr>
                  <th scope="row">Eau</th>
                  <td>133.50</td>
                  <td>14(m3)</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="card grouped">
            <h5 class="card-header">
              Derniere relève
            </h5>
            <div class="card-body">
              <h6 class="card-title">
                Date de releve
              </h6>
              <p>06 / 10 / 18</p>
              <h6 class="card-title">
                Index releve
              </h6>
              <p>1879465</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-12">
      <div class="row">
        <div class="col col-md-6">
          <div class="card grouped">
            <h5 class="card-header">
              Dernier paiement
            </h5>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Montant</th>
                  <th scope="col">Volume</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Electricite</th>
                  <td>500.00</td>
                  <td>390(kWh)</td>
                </tr>
                <tr>
                  <th scope="row">Eau</th>
                  <td>140.50</td>
                  <td>15(m3)</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="card grouped">
            <h5 class="card-header">
              Min/Max Consomation
            </h5>
            <div class="card-body">
              <div class="row form-group">
                <label class="col-form-label col-md-3">Contrat</label>
                <div class="col-md">
                  <select class="custom-select col-md">
                    <option selected>Type de contrat</option>
                    <option value="1">Eau</option>
                    <option value="2">Electricite</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-form-label col-md-3">Periode du</label>
                <div class="col-md-3">
                  <input type="text"
                         placeholder="01/01/2018"
                         class="form-control" [maxDate]="maxDate"
                         bsDatepicker placement="bottom" [outsideClick]="true" placement="left" [bsConfig]="{containerClass: 'theme-dark-blue'}">
                </div>
                <label class="col-form-label col-md-2">Au</label>
                  <div class="col-md-4">
                    <input type="text"
                           placeholder="01/01/2018"
                           class="form-control" [maxDate]="maxDate"
                           bsDatepicker placement="bottom" [outsideClick]="true" placement="left" [bsConfig]="{containerClass: 'theme-dark-blue'}">
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <h6 class="card-title">Min:</h6> 80 m3
                </div>
                <div class="col-md-6">
                  <h6 class="card-title">Max:</h6> 200 m3
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="card">
            <h5 class="card-header">
              Evolution de consomation
            </h5>
            <div class="card-body">
              <h5 class="d-inline mx-3">Contrat</h5>
              <div class="col-auto">
                <select class="custom-select" (change)="changeContract($event)">
                  <!--<option value="" disabled selected>Type</option>-->
                  <option value="1" [selected]="true">N 4900 (Eau)</option>
                  <option value="2">E 7856 (Electricite)</option>
                </select>
              </div>
              <h6></h6>
              <div style="display: block">
                <h6 class="card-title text-center py-3">{{chartConsoTitle}}</h6>
                <canvas baseChart
                        [chartType]="chartType"
                        [datasets]="chartDatasetsEau"
                        [labels]="chartLabels"
                        [colors]="chartColorsEau"
                        [options]="chartOptionsEau"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <div style="display: block">
                <canvas baseChart
                        [chartType]="chartType"
                        [datasets]="chartDatasetsFact"
                        [labels]="chartLabels"
                        [colors]="chartColorsFact"
                        [options]="chartOptionsFact"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card grouped">
            <h5 class="card-header">Alert</h5>
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card grouped">
            <h5 class="card-header">Conseil et économie d'énergie</h5>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
