<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Nouvelle demande d'abonnement</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a>Services</a>
        </li>
        <li class="breadcrumb-item active">Nouvelle demande d'abonnement
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">Nouvelle demande d'abonnement</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <form [formGroup]="subscriptionRequestForm">
              <div class="row">
                <div class="form-group col-6">
                  <label for="card-id">Nom et Prénom / Raison sociale : </label>
                  <input class="form-control" id="card-id">
                </div>
                <div class="form-group col-6">
                  <label for="card-id">Profession / Activité : </label>
                  <input class="form-control" id="card-id">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="card-id">Lieu du travail : </label>
                  <input class="form-control" id="card-id">
                </div>
                <div class="form-group col-6">
                  <label for="card-id">Adresse du lieu du travail : </label>
                  <input class="form-control" id="card-id">
                </div>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border">Téléphone</legend>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">Portable : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Fixe domicile : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Fixe bureau : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border">Adresse</legend>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">N° : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-8">
                      <label for="card-id">Rue/Bd/Av : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">Immeuble : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Appartement : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Etage : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="card-id">Complément d'adresse : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border"><input class="" name="subscriptionType" id="subscriptionType" type="checkbox" formControlName="subscriptionType"> Predecesseur</legend>
                  <div *ngIf="subscriptionRequestForm.controls.subscriptionType.value" class="row">
                    <div class="form-group col-4">
                      <label for="card-id">Successeur de : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Police, ou contrat eau : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">Police, ou contrat electricite : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <button class="btn btn-primary pull-right" (click)="saveRequest()">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
