<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">{{'New_subscription_request' | translate }}</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">{{'HOME' | translate }}</a>
        </li>
        <li class="breadcrumb-item">
          <a>Services</a>
        </li>
        <li class="breadcrumb-item active">{{'New_subscription_request' | translate }}
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <div id="what-is" class="card">
        <div class="card-header">
          <h4 class="card-title">{{'New_subscription_request' | translate }}</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
          <div class="heading-elements">
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <form [formGroup]="subscriptionRequestForm">
              <div class="row">
                <div class="form-group col-6">
                  <label for="card-id">{{'LASTNAME_AND_FIRSTNAME' | translate }} / {{'SOCIAL_REASON' | translate }} : </label>
                  <input class="form-control" id="card-id">
                </div>
                <div class="form-group col-6">
                  <label for="card-id">{{'PROFESSION' | translate }} / {{'ACTIVITY' | translate }} : </label>
                  <input class="form-control" id="card-id">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="card-id">{{'WORKPLACE' | translate }} : </label>
                  <input class="form-control" id="card-id">
                </div>
                <div class="form-group col-6">
                  <label for="card-id">{{'ADDRESS_OF_THE_WORKPLACE' | translate }} : </label>
                  <input class="form-control" id="card-id">
                </div>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border">{{'PHONE' | translate }}</legend>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">{{'PORTABLE' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'FIXED_AT_HOME' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'FIXED_OFFICE' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border">{{'ADDRESS' | translate }}</legend>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">{{'N°' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-8">
                      <label for="card-id">{{'STREET' | translate }} / {{'BOULEVARD' | translate }} / {{'AVENUE' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="card-id">{{'BUILDING' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'APARTMENT' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'FLOOR' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="card-id">{{'ADDRESS_SUPPLEMENT' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="row">
                <fieldset class="scheduler-border col-12">
                  <legend class="scheduler-border"><input class="" name="subscriptionType" id="subscriptionType" type="checkbox" formControlName="subscriptionType"> Predecesseur</legend>
                  <div *ngIf="subscriptionRequestForm.controls.subscriptionType.value" class="row">
                    <div class="form-group col-4">
                      <label for="card-id">{{'SUCCESSOR_OF' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'POLICE' | translate }}, {{'OR' | translate }} {{'WATER_CONTRACT' | translate }} : </label>
                      <input class="form-control" id="card-id">
                    </div>
                    <div class="form-group col-4">
                      <label for="card-id">{{'POLICE' | translate }}, {{'OR' | translate }} {{'ELECTRICITY_CONTRACT' | translate }}: </label>
                      <input class="form-control" id="card-id">
                    </div>
                  </div>
                </fieldset>
              </div>
              <button class="btn btn btn-outline-primary pull-right" (click)="saveRequest()">{{'SAVE' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
