#navbar {
  margin-bottom: 0;
  background: #fff !important;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-brand {
    img {
      max-width: 150px;
    }
  }
  .navbar-nav {
    li {
      a {
        cursor: pointer;
      }
    }
  }
  .ml-auto {
    img {
      max-width: 40px;
      margin-right: 20px;
    }
    .dropdown-menu {
      left: auto !important;
      right: 0 !important;
    }
  }
  .authorities-section {
    div {
      clear: both;
      margin: 0 20px;
      min-height: 32px;
    }
    .authname {
      display: inherit;
      width: 200px;
      cursor: pointer;
      float: left;
      position: relative;
      top: 20px;
    }
    label {
      width: 35px;
      margin-bottom: 0;
    }
    /* hide input */
    input.radio:empty {
      display: none;
    }
    /* style label */
    input.radio:empty ~ label {
      position: relative;
      float: right;
      line-height: 2.3em;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    input.radio:empty ~ label:before {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      content: '';
      width: 2.5em;
      background: #D1D3D4;
      border-radius: 0 3px 3px 0;
    }
    /* toggle hover */

    input.radio:hover:not(:checked) ~ label:before {
      content: '\2714';
      text-indent: .9em;
      color: #C2C2C2;
    }
    input.radio:hover:not(:checked) ~ label {
      color: #888;
    }
    /* toggle on */
    input.radio:checked ~ label:before {
      content: '\2714';
      text-indent: .9em;
      color: #9CE2AE;
      background-color: #4DCB6D;
    }
    input.radio:checked ~ label {
      color: #777;
    }
    .authname:hover {
      color: #777;
    }
    .authname:hover label:before {
      content: '\2714';
      text-indent: .9em;
      color: #9CE2AE;
      background-color: #4DCB6D;
    }
  }
}

.sub-header {
  border-bottom: 4px solid rgb(226, 224, 225);
  width: 100%;
  background-color: rgb(0, 82, 162);
  ul {
    margin-bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      //border-right: 1px solid #d3d3d3;
      a {
        padding: 12px 15px;
        display: block;
        position: relative;
        color: #ffff;
        text-decoration: none !important
      }
      &:first-child {
        min-width: 120px;
        // Last line added to fix view
        height: 63px;
        line-height: 43px;
      }
      &:not(:first-child) {
        height: 64px;
        line-height: 43px;
      }
      //&.serach-li {
      //  border: none;
      //  float: right;
      //  margin-top: 16px;
      //  margin-right: 15px;
      //  height: inherit;
      //  line-height: inherit;
      //}
    }
  }
}


