<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
   <a class="navbar-brand" routerLink="/home"> <img [src]="applogo" alt=""/></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
           aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav ml-auto">
         <div class="relative" dropdown [autoClose]="false">
            <img [src]="user.avatar" class="rounded-circle" dropdownToggle/>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
               <li role="menuitem" class="text-muted"><a class="dropdown-item">{{user.firstname + ' '+ user.lastname}}</a>
               </li>
               <div class="clearfix"></div>
               <li class="divider dropdown-divider"></li>
               <li role="menuitem">
                  <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i> Déconnexion</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>
<div class="content">
  <div class="sub-header">
    <ul class="offset-3">
      <!-- New navbar for all menu link-->
      <li class="text-center"><b><a class="cursor-pointer" routerLink="/home">Acceuil</a></b></li>
      <li class="text-center"><b><a class="cursor-pointer" routerLink="/dashboard">Tableau de bord</a></b></li>
      <li class="text-center"><b><a class="cursor-pointer" routerLink="/comptes/contrats">Mon compte</a></b></li>
      <li class="text-center"><b><a class="cursor-pointer" routerLink="/services">Mes services</a></b></li>
      <li class="text-center"><b><a class="cursor-pointer" routerLink="/consomation">Ma consomtaion</a></b></li>
    </ul>
  </div>
</div>
