<div class="container pt-5">

  <div class="text-center">
    <h3><u class="text-uppercase">engagement pour compteur provisoire</u></h3>
  </div>
  <div class="row">
    <div class="col-md-10 content">
      <div>
        <p>Préferences:</p>
      </div>
      <div>
        <ul>
          <li>
            <div class="form-group">
              <label>Nom: </label>
              <label class="ml-2"><b class="text-uppercase">{{ info.info_nom }}</b></label>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label>Prénom: </label>
              <label class="ml-2"><b class="text-uppercase">{{ info.info_prenom }}</b></label>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label>Adresse ou Chantier: </label>
              <label class="ml-2"><b class="text-uppercase">{{ info.info_address }}</b></label>
            </div>
          </li>
        </ul>
      </div>
      <div class="pt-5">
        <p>
          Je m'engage à respecter les normes de sécurité en matière d'instalation technique et garantir l'accessibilité
          permanente au compteur par le personnel de la régie.</p>
        <p>
          En cas du non-respect des conditions si-haut précitées, la régie se réserve le droit de suspendre sa
          fourniture
          sans péavis.
        </p>
      </div>
      <div class="signature">
        <p>Signature du Client</p>
      </div>
    </div>
  </div>
</div>
