#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  .sidebar-header {
    padding-bottom: 0;
    .content {
      padding: 20px;
      min-height: 85px;
      border-bottom: 1px solid #EEE;
    }
    .nav_profile {
      .profile-thumb {
        padding-right: 10px;
        img {
          width: 54px;
        }
      }
      .media-heading {
        line-height: 20px;
        margin-top: 12px;
        font-weight: 500;
        font-size: 15px;
        color: #2E576B;
      }
      .role {
        display: block;
        margin: 0;
      }
    }
  }
  ul {
    li.active > a {
      background: #f8f8f8;
      color: #C00;
      border-left: 3px solid #C00;
    }
    li {
      a {
        text-align: left;
        color: #666;
        position: relative;
        display: block;
        font-size: 13px;
        line-height: 20px;
        padding: 11px 20px;
        cursor: pointer;
        .menu-icon {
          display: inline-block;
          margin-right: 5px;
          line-height: 20px;
          height: 20px;
          width: 20px;
          text-align: center;
          font-size: 16px;
        }
      }
      a:hover {
        color: #C00;
      }
    }
    &.sub-menu {
      display: none;
    }
    &.show {
      display: block;
    }
    ul a {
      padding-left: 37px;
    }
    a.has-submenu::before {
      content: "\f105";
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'FontAwesome';
    }
    a[aria-expanded="true"]::before {
      content: "\f107";
    }
  }
  &.components {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
