<div class="modal-header bg-radem">
  <h4 class="modal-title pull-left" *ngIf="!alertType.id">Ajouter un type d'alerte</h4>
  <h4 class="modal-title pull-left" *ngIf="alertType.id">Modifier le type d'alerte</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Fermer">
    <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
  </button>
</div>
<div class="modal-body">
  <form role="form" novalidate [formGroup]="formAlertType">
    <div class="row form-group">
      <label for="title" class="col-sm-3 control-label">Désignation</label>
      <div class="col-sm-9">
        <input formControlName="title" id="title" name="name" type="text" placeholder="Désignation" class="form-control required">
        <div *ngIf="title.invalid && (title.dirty || isSubmitted) && title.errors.required" class="text-danger text-left">
          La désignation de type d'alerte est obligatoire
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.hide();"> Annuler
  </button>
  <button type="submit" class="btn btn-primary" (click)="createAlertType();modalRef.hide();" *ngIf="!alertType.id"
          [disabled]="formAlertType.invalid">Enregistrer
  </button>
  <button type="submit" class="btn btn-primary" (click)="saveAlertType();modalRef.hide();" *ngIf="alertType.id"
          [disabled]="formAlertType.invalid">Modifier
  </button>
</div>
