aw-wizard {
  width: 100% !important;
  margin-bottom: 30px;
  aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li:after {
    font-size: 20px;
    font-weight: bold;
    color: #0052a2;
  }
}

//.custom-css aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current div a {
//  color: #4BB3FD;
//}
//.custom-css aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done div a {
//  color: #0052a2;
//}

.custom-css aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current:after {
  border-color: #4BB3FD !important;
  text-decoration-color: #4BB3FD !important;
  //background-color: #4BB3FD !important;
}

.custom-css aw-wizard-navigation-bar.horizontal .state-circle {
  width: 10px !important;
  height: 10px !important;
}

.custom-css aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current:after {
  color: #3BB3FD !important;
}

.custom-css aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
  color: #000000;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}




.custom-css aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
  text-transform: none;
}

.custom-css aw-wizard-step .centered-content {
  background-color: #eeeeee;
  color: #4BB3FD;
}

.custom-css aw-wizard-step h3 {
  text-decoration: underline;
  color: #4BB3FD;
}

fieldset.scheduler-border {
  border: 1px solid #0052a2 !important;
  padding: 0 0.8em 0 0.8em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  font-weight: normal !important;
}

legend.scheduler-border {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: left !important;
  padding: 6px;
}

fieldset.col-7 {
  padding: 0px;
}

#commDiv {
  padding: 20px;
  overflow: scroll;
  max-height: 300px;
}

#divDateComm {
  color: gray;
}

fieldset.col-4 {
  padding: 0px;
  margin-left: 40px !important;
}

#divDate {
  max-height: 100px !important;
}

.scheduler-border::after {
  border: 0;
}

.card-header {
  padding: 0.8rem;
  margin-bottom: 0;
  background-color: #eef0f3;
  border-bottom: 1px solid rgba(44, 85, 153, 0.23) !important;

  h3 {
    margin-top: 8px;
  }
}
