<!--Tooltip Starts-->
<div class="content-header back col-12 mb-1 mt-1">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title">{{'MY_CONSUMPTION' | translate}}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/home">{{'HOME' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'MY_CONSUMPTION' | translate}}
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section>
        <div class="card mb-0">
            <div class="card-header">
                <h4 class="card-title">Extrait des contrats (actifs)</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements"></div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <app-filter (onfilterChanged)="pageFilterContract($event)"></app-filter>
                        </div>
                    </div>
                    <div class="table-responsive mx-auto">
                        <table class="table table-bordered"
                               sortable-table (sorted)="onSortedContract($event)"
                               filterable-table (filtred)="onFiltredContract($event)">
                            <thead>
                            <tr>
                                <th scope="col" width="100">{{'CONTRACT_NUMBER' | translate}}
                                    <span sortable-column="numCta"></span>
                                    <span filterable-column="numCta" filter-type="text"
                                          filter-placeholder="{{'CONTRACT_NUMBER' | translate}}"></span>
                                </th>
                                <th scope="col">{{'CATEGORY' | translate}}
                                    <span sortable-column="categorieAbonnement"></span>
                                    <span filterable-column="categorieAbonnement" filter-type="text"
                                          filter-placeholder="{{'CATEGORY' | translate}}"></span>
                                </th>
                                <!--
                                <th scope="col">Prochaine relève
                                    <span sortable-column="date"></span>
                                    <span filterable-column="date" filter-type="date"
                                          filter-placeholder="Prochaine relève"></span>
                                </th>
                                -->
                                <th scope="col">{{'LAST_INDEX' | translate}}
                                    <span sortable-column="perTrn"></span>
                                    <span filterable-column="perTrn" filter-type="text"
                                          filter-placeholder="Dernier index {{'LAST_INDEX' | translate}}"></span>
                                </th>
                                <!--
                                <th scope="col">Dernier paiement
                                    <span sortable-column="index"></span>
                                    <span filterable-column="index" filter-type="text"
                                          filter-placeholder="Dernier paiement"></span>
                                </th>
                                -->
                                <th scope="col">{{'TOTAL_BALANCE' | translate}}
                                    <span sortable-column="soldetot"></span>
                                    <span filterable-column="soldetot" filter-type="text"
                                          filter-placeholder="{{'TOTAL_BALANCE' | translate}}"></span>
                                </th>
                                <th scope="col">{{'BALANCE_DUE' | translate}}
                                    <span sortable-column="soldeExigible"></span>
                                    <span filterable-column="soldeExigible" filter-type="text"
                                          filter-placeholder="{{'BALANCE_DUE' | translate}}"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let releve of contracts">
                                <td>{{releve.numCta}}</td>
                                <td>{{releve.categorieAbonnement}}</td>
                                <!--<td>{{releve.dateReleve | date:'dd-M-yyyy'}}</td>-->
                                <td>{{releve.perTrn}}</td>
                                <td>{{releve.soldetot}}</td>
                                <td>{{releve.soldeExigible}}</td>
                            </tr>
                            <tr *ngIf="!contracts || contracts.length == 0">
                                <td [colSpan]="6"> {{'SORRY_NO_DATA_AVAIBELE' | translate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <app-pagination [disabled]="false"
                                    [numberOfItems]="numberOfItemsContract"
                                    [itemsPerPage]="itemsPerPageContract"
                                    [totalItems]="totalElementsContract"
                                    [totalPages]="totalPagesContract"
                                    (onpageChanged)="pageChangedContract($event)"></app-pagination>
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header">
                <h4 class="card-title">{{'CONSUMPTION_HISTORY' | translate }}</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements"></div>
            </div>
            <div class="card-content collapse show">
                <form role="form" [formGroup]="historyForm" novalidate>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <app-filter (onfilterChanged)="pageFilterConsumption($event)"></app-filter>
                            </div>
                        </div>
                        <div class="row col-md-12 form-group">
                            <label class="col-form-label">{{'CONTRACT' | translate }} <span
                                    class="danger">*</span>:</label>
                            <div class="col-3">
                                <select formControlName="contract" type="text" class="custom-select" #t
                                        (change)="setContract(t.value)">
                                    <option value="" disabled selected>{{'CHOOSE_A_CONTRACT' | translate }}
                                    </option>
                                    <option *ngFor="let contract of userContracts"
                                            [value]="contract?.numeroContrat">
                                        {{contract.numeroContrat}} ({{contract.typeContrat}})
                                    </option>
                                </select>
                            </div>
                            <label class="col-form-label">{{'PERIOD_OF' | translate }} <span class="danger"> *</span>
                                :</label>
                            <div class="col-auto">
                                <input formControlName="startDate" type="date" class="form-control" />
                                <div class="text-danger position-absolute mb-1"
                                     *ngIf="!historyForm.controls['startDate'].valid && historyForm.controls['startDate'].touched">
                                    <div *ngIf="historyForm.controls['startDate'].errors.required">
                                        {{'FIELD_REQUIRED' | translate}}
                                    </div>
                                </div>
                            </div>
                            <label class="col-form-label">{{'AT' | translate }} <span
                                    class="danger">*</span></label>
                            <div class="col-auto">
                                <input formControlName="endDate" type="date" class="form-control" />
                                <div class="text-danger position-absolute mb-1"
                                     *ngIf="!historyForm.controls['endDate'].valid && historyForm.controls['endDate'].touched">
                                    <div *ngIf="historyForm.controls['endDate'].errors.required">
                                        {{'FIELD_REQUIRED' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto float-right row">
                                <button type="button" class="btn btn btn-outline-primary"
                                        (click)="getConsumptionHistory();" [disabled]="historyForm.invalid">
                                    <i class="fa fa-search"></i></button>
                                &nbsp;
                                <div class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button"
                                            class="btn btn btn-outline-primary dropdown-toggle download"
                                            aria-controls="dropdown-basic"><i class="fa fa-download"></i>
                                    </button>
                                    <div aria-labelledby="dropdownUser" *dropdownMenu=""
                                         class="dropdown-menu">
                                        <a class="dropdown-item" (click)="downloadPdfConsumptions()">
                                            <i class="fa fa-file-pdf-o"></i>{{'PDF_FORMAT' | translate }}
                                        </a>
                                        <a class="dropdown-item" (click)="downloadXlsConsumptions()">
                                            <i class="fa fa-file-excel-o"></i>{{'EXCEL_FORMAT' | translate
                                            }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive mx-auto">
                            <table class="table table-bordered"
                                   sortable-table (sorted)="onSortedConsumption($event)"
                                   filterable-table (filtred)="onFiltredConsumption($event)">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col">{{'PERIOD' | translate }}
                                        <span sortable-column="periode"></span>
                                        <span filterable-column="periode" filter-type="text"
                                              filter-placeholder="{{'PERIOD' | translate }}"></span>
                                    </th>
                                    <!--
                                    <th scope="col">{{'Index' | translate }}
                                        <span sortable-column="type"></span>
                                        <span filterable-column="type" filter-type="text"
                                              filter-placeholder="{{'Index' | translate }}"></span>
                                    </th>
                                    -->
                                    <th scope="col">{{'Solde total' | translate }}
                                        <span sortable-column="soldeTotal"></span>
                                        <span filterable-column="soldeTotal" filter-type="text"
                                              filter-placeholder="{{'CONSUMPTION' | translate }}"></span>
                                    </th>
                                    <th scope="col">{{'Solde exigible' | translate }}
                                        <span sortable-column="soldeExigible"></span>
                                        <span filterable-column="soldeExigible" filter-type="text"
                                              filter-placeholder="{{'AMOUNT' | translate }}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <app-data-not-available
                                        *ngIf="!consumptions || consumptions.length == 0; else dataAvailable"
                                        [colSpan]="5"></app-data-not-available>

                                <ng-template #dataAvailable>
                                    <tr *ngFor="let consumption of consumptions">
                                        <td>{{consumption.periode}}</td>
                                        <!--<td>{{consumption.index}}</td>-->
                                        <td>{{consumption.soldeTotal}} DH</td>
                                        <td>{{consumption.soldeExigible}} DH</td>
                                    </tr>
                                </ng-template>
                                </tbody>
                            </table>
                        </div>
                        <app-pagination [disabled]="false"
                                        [numberOfItems]="numberOfItemsConsumption"
                                        [itemsPerPage]="itemsPerPageConsumption"
                                        [totalItems]="totalElementsConsumption"
                                        [totalPages]="totalPagesConsumption"
                                        (onpageChanged)="pageChangedConsumption($event)"></app-pagination>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
