<div class="table-responsive mx-auto">
    <div class="row justify-content-between">
        <div class="col-12">
            <div class="float-left">
                <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col" width="100">{{'CONTRACT_NUMBER' | translate}}</th>
            <th scope="col">{{'CATEGORY' | translate}}</th>
            <!--
            <th scope="col">Prochaine relève
                <span sortable-column="date"></span>
                <span filterable-column="date" filter-type="date"
                      filter-placeholder="Prochaine relève"></span>
            </th>
            -->
            <th scope="col">{{'LAST_INDEX' | translate}}</th>
            <!--
            <th scope="col">Dernier paiement
                <span sortable-column="index"></span>
                <span filterable-column="index" filter-type="text"
                      filter-placeholder="Dernier paiement"></span>
            </th>
            -->
            <th scope="col">{{'TOTAL_BALANCE' | translate}}</th>
            <th scope="col">{{'BALANCE_DUE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <app-data-not-available *ngIf="!contracts || contracts.length == 0; else dataAvailable"
                                [colSpan]="6"></app-data-not-available>
        <ng-template #dataAvailable>
            <tr *ngFor="let releve of contracts">
                <td>{{releve.numCta}}</td>
                <td>{{releve.categorieAbonnement}}</td>
                <!--<td>{{releve.dateReleve | date:'dd-MM-yyyy'}}</td>-->
                <td>{{releve.perTrn}}</td>
                <td>{{releve.soldetot}}</td>
                <td>{{releve.soldeExigible}}</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>
<app-pagination [showPagination]="totalPages > 1"
                [numberOfItems]="numberOfItems"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalElements"
                [totalPages]="totalPages"
                (onpageChanged)="pageChanged($event)"></app-pagination>

