<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> Mes impayés</h3>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="mb-0">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-4 align-self-start">
                                <div class="multicheckbox">
                                    <angular2-multiselect [data]="userContracts"
                                                          [(ngModel)]="selectedContract"
                                                          [settings]="dropdownSettings">
                                    </angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-start">
                                <button class="btn btn-outline-secondary" (click)="getAllUnpaidBills()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>

                        <div>
                            <div class="table-responsive mx-auto">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <div class="float-left">
                                            <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                        </div>
                                    </div>
                                </div>

                                <table class="table">
                                    <thead class="table-light">
                                    <tr>
                                        <th>
                                            <div class="pure-checkbox">
                                                <input type="checkbox" #checkboxes
                                                       id="head"
                                                       (change)="toggleCheckAll($event, contractsBills)"/>
                                                <label for="head"></label>
                                            </div>
                                        </th>
                                        <th scope="col">{{'YEAR_MONTH' | translate }}</th>
                                        <th scope="col">{{'BILL_NUMBER' | translate }}</th>
                                        <th scope="col">{{'AMOUNT' | translate }} (Dhs)</th>
                                        <th scope="col">{{'BALANCE' | translate }} (Dhs)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <app-data-not-available
                                            *ngIf="!contractsBills || contractsBills.length == 0; else dataAvailable"
                                            [colSpan]="4">
                                    </app-data-not-available>
                                    <ng-template #dataAvailable>
                                        <ng-container *ngFor="let contractBills of contractsBills">
                                            <tr class="contract-list">
                                                <td>
                                                    <div class="pure-checkbox">
                                                        <input type="checkbox" #checkboxes
                                                               [id]="'head-' + contractBills.numeroContrat"
                                                               (change)="toggleAddBills($event, contractBills)"/>
                                                        <label [for]="'head-' + contractBills.numeroContrat"></label>
                                                    </div>
                                                </td>
                                                <td>{{contractBills.numeroContrat}} - {{contractBills.typeContrat}}</td>
                                                <td colspan="3" class="text-center">{{contractBills.address}}</td>
                                            </tr>
                                            <tr *ngFor="let bill of contractBills.bills; let i = index"
                                                class="bills-list"
                                                [ngClass]="bill.isExigible ? 'bg-accent-1' : 'bg-accent-3'">
                                                <td>
                                                    <div class="pure-checkbox">
                                                        <input type="checkbox" #checkboxes
                                                               [id]="'head-' + contractBills.numeroContrat + '-' + i"
                                                               [attr.data-type]="bill.isExigible"
                                                               [disabled]="bill.isExigible"
                                                               [checked]="bill.isExigible || bill.checked"
                                                               [attr.data-value]="bill.solde"
                                                               (change)="toggleAddBill($event, bill, contractBills.numeroContrat)"/>
                                                        <label [for]="'head-' + contractBills.numeroContrat + '-' + i"></label>
                                                    </div>
                                                </td>
                                                <td>{{bill.periode}} - {{bill.year}}</td>
                                                <td>{{bill.numeroFacture}}</td>
                                                <td><b>{{bill.soldeExigible | numeral}}</b></td>
                                                <td><b>{{bill.solde | numeral}}</b></td>
                                            </tr>
                                        </ng-container>
                                    </ng-template>
                                    </tbody>
                                </table>
                            </div>

                            <app-pagination [showPagination]="totalPages > 1"
                                            [numberOfItems]="numberOfItems"
                                            [itemsPerPage]="itemsPerPage"
                                            [totalItems]="totalElements"
                                            [totalPages]="totalPages"
                                            (onpageChanged)="pageChanged($event)"></app-pagination>

                            <div class="col-md-12 text-right mt-1">
                                <div class="row">
                                    <div class="form-group">
                                        <label>Total des impayés :</label>
                                        <span class=" font-weight-bold text-danger">{{totalUnpaid | numeral}} DH</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label>Montant a régler : </label>
                                        <span class="text-muted font-weight-bold">{{total | numeral}} DH</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-md-12 text-right">
                                <input class="btn btn btn-outline-secondary mb-2" type="button"
                                       value="Régler vos factures" (click)="submit()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ What is-->
        </div>
    </section>
</div>
