<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title"><i class="fa fa-bookmark" style="color: #2c5599;"></i> Mes impayés</h3>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="mb-0">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-6 align-self-center">
                                <div class="multicheckbox">
                                    <angular2-multiselect [data]="userContracts"
                                                          [(ngModel)]="selectedContract"
                                                          [settings]="dropdownSettings">
                                    </angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center text-right">
                                <button class="btn btn-outline-info" (click)="showMyMessages()">
                                    {{'mes-messages' | translate}}
                                </button>
                            </div>
                        </div>


                        <div *ngIf="!confirmation">

                            <app-unpaid-table [multiBillSelect]="true"></app-unpaid-table>

                            <div class="row col-md-12 text-right">
                                <div class="form-group form-inline">
                                    <label>
                                        <strong>Total des impayés : </strong>
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <input class="form-control-plaintext" type="text" id="staticEmail2"
                                           value="{{totalUnpaid}}"
                                           readonly>
                                </div>
                                <div class="form-group form-inline">
                                    <label>
                                        <strong>Montant a régler : </strong>
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <input class="form-control-plaintext text-danger" type="text" value="{{total}}"
                                           readonly>
                                </div>
                            </div>
                            <div class="row col-md-12 text-right">
                                <input class="btn btn btn-outline-primary mb-2" type="button"
                                       value="Régler vos factures" (click)="submit()">
                            </div>
                        </div>
                        <form class="form-inline" *ngIf="confirmation">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">Nº de facture</th>
                                        <th scope="col">Nº d'echeance</th>
                                        <th scope="col">Nº de Police</th>
                                        <th scope="col">Date d'écheance</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Montant (Dhs)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let bill of selectedBills">
                                        <td>{{bill.numBill}}</td>
                                        <td>{{bill.dueNumber}}</td>
                                        <td>{{bill.police}}</td>
                                        <td>{{bill.dueDate}}</td>
                                        <td>{{bill.type}}</td>
                                        <td>{{bill.amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-md-12 text-right">
                                <div class="form-group form-inline">
                                    <label>
                                        <strong>Montant à payer : </strong>
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <input class="form-control-plaintext text-danger" type="text" value="{{total}}"
                                           readonly>
                                </div>
                            </div>
                            <div class="row col-md-12 text-right">
                                <input class="btn btn btn-outline-primary mb-2" type="button" value="Payer">&nbsp;
                                <input class="btn btn-secondary mb-2" type="button" value="Annuler" (click)="cancel()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/ What is-->
        </div>
    </section>
</div>
