//Define variables for global theme
$gray:        #676767 !default;
$grayMedium:  #979797 !default;
$grayClear:   #ABAAAB !default;
$orange:      #F57723 !default;
$white:       #ffffff !default;

$primary: #7266ba !default;
$info:    #23b7e5 !default;
$success: #27c24c !default;
$warning: #fad733 !default;
$danger:  #f05050 !default;
$light_x: #f1f1f1 !default;
$dark:    #3a3f51 !default;
$black:   #1c2b36 !default;

//$orange: #de7326;
