.footer {
  padding: 1.5rem .3rem;
  background-color: #000000;
}
/*
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}*/
