<!--Tooltip Starts-->
<div class="card-header content-header back col-12">
  <div class="row">
    <div class="col-md-6 col-12">
      <h3 class="content-header-title"><i class="fa fa-bookmark"
                                          style="color: #2c5599;"></i> {{'New_refund_request' | translate }}</h3>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-md-12 col-sm-12">
      <div id="what-is" class="mb-0">
        <div class="card-content collapse show">
          <div class="card-body">
            <form role="form" [formGroup]="refundForm"
                  (ngSubmit)="saveRequest(refundForm.value)" novalidate>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label>{{'CONTRACTS' | translate }} <span class="text-danger">*</span></label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <div class="multicheckbox">
                    <angular2-multiselect [data]="ccc"
                                          [(ngModel)]="sss"
                                          [settings]="settings"
                                          (onSelect)="onItemSelect($event)"
                                          (onDeSelect)="onItemDeSelect($event)"
                                          (onClose)="onCloseMultiSelect($event)"
                                          formControlName="contracts">
                    </angular2-multiselect>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label for="mailingAddress">{{'MAILING_ADDRESS' | translate }} <span
                    class="text-danger">*</span></label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <input type="text" class="form-control" id="mailingAddress"
                         formControlName="mailingAddress">
                  <div class="text-danger"
                       *ngIf="!refundForm.controls['mailingAddress'].valid && refundForm.controls['mailingAddress'].touched">
                    <div *ngIf="refundForm.controls['mailingAddress'].errors.required">
                      {{'FIELD_REQUIRED' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label for="email">{{'MAIL' | translate }} <span class="text-danger">*</span></label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <input type="text" class="form-control" id="email"
                         formControlName="email">
                  <div class="text-danger"
                       *ngIf="!refundForm.controls['email'].valid && refundForm.controls['email'].touched">
                    <div *ngIf="refundForm.controls['email'].errors.required">
                      {{'FIELD_REQUIRED' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label for="homePhonenumber">{{'HOME_PHONE_NUMBER' | translate }} <span
                    class="text-danger">*</span></label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <input type="text" class="form-control" id="homePhonenumber"
                         formControlName="homePhonenumber">
                  <div class="text-danger"
                       *ngIf="!refundForm.controls['homePhonenumber'].valid && refundForm.controls['homePhonenumber'].touched">
                    <div *ngIf="refundForm.controls['homePhonenumber'].errors.required">
                      {{'FIELD_REQUIRED' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label for="cellphone">{{'CELL_PHONE' | translate }} <span
                    class="text-danger">*</span></label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <input type="text" class="form-control" id="cellphone"
                         formControlName="cellphone">
                  <div class="text-danger"
                       *ngIf="!refundForm.controls['cellphone'].valid && refundForm.controls['cellphone'].touched">
                    <div *ngIf="refundForm.controls['cellphone'].errors.required">
                      {{'FIELD_REQUIRED' | translate}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style=" margin-top: 11px;">
                <div class="form-group col-lg-3 col-md-12 col-sm-12">
                  <label for="Procuration"> Procuration ? </label>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12"
                     style="margin-top: 6px; margin-bottom: 0px; position: relative; margin-left: inherit;">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                    <input [(ngModel)]="flagProcuration" type="checkbox" formControlName="Procuration"
                           value="Procuration"
                           id="Procuration" (change)="setProcurationValidators()">
                  </div>
                </div>
              </div>
              <div *ngIf="flagProcuration">
                <div class="row">
                  <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                    <label for="firstName">{{'PROCUROR_FIRSTNAME' | translate }} <span
                      class="text-danger">*</span></label>
                  </div>

                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="firstName"
                           formControlName="firstName">
                    <div class="text-danger"
                         *ngIf="!refundForm.controls['firstName'].valid && refundForm.controls['firstName'].touched">
                      <div *ngIf="refundForm.controls['firstName'].errors.required">
                        {{'FIELD_REQUIRED' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                    <label for="lastName">{{'PROCUROR_LASTNAME' | translate }} <span
                      class="text-danger">*</span></label>
                  </div>

                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="lastName"
                           formControlName="lastName">
                    <div class="text-danger"
                         *ngIf="!refundForm.controls['lastName'].valid && refundForm.controls['lastName'].touched">
                      <div *ngIf="refundForm.controls['lastName'].errors.required">
                        {{'FIELD_REQUIRED' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                    <label for="lastName">{{'PROCUROR_CIN' | translate }} <span class="text-danger">*</span></label>
                  </div>

                  <div class="form-group col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="cin"
                           formControlName="cin">
                    <div class="text-danger"
                         *ngIf="!refundForm.controls['cin'].valid && refundForm.controls['cin'].touched">
                      <div *ngIf="refundForm.controls['cin'].errors.required">
                        {{'FIELD_REQUIRED' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row" style="margin-top: 11px;">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">
                  <label for="bank_file">{{'PAYMENT_MODE' | translate }} <span class="text-danger">*</span></label><br>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <div class="row" style=" margin-bottom: -19px;">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                      <input [(ngModel)]="flagModeRemboursement" type="radio" formControlName="ModeRemboursement"
                             value="CHECK" (change)="setPaymentModeValidators()"> {{'CHECK' | translate }}
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                      <input [(ngModel)]="flagModeRemboursement" type="radio" formControlName="ModeRemboursement"
                             value="BANK_TRANSFER"
                             (change)="setPaymentModeValidators()"> {{'BANK_TRANSFER' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">

                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <div *ngIf="flagModeRemboursement === 'BANK_TRANSFER'">


                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="bank_file" (change)="selectFile($event)"
                             formControlName="bank_file" lang="zn">
                      <label class="custom-file-label" lang="zn" for="bank_file"> {{'JOIN_FILE' | translate }}  <span class="text-danger">*</span></label>
                    </div>

                    <div class="text-danger"
                         *ngIf="!refundForm.controls['bank_file'].valid && refundForm.controls['bank_file'].touched">
                      <div *ngIf="refundForm.controls['bank_file'].errors.required">
                        {{'FIELD_REQUIRED' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12" style="align-self: center">

                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <button class="btn btn btn-outline-primary pull-right"
                          [disabled]="refundForm.invalid" type="submit">{{'SAVE' | translate }}
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
