<!--Tooltip Starts-->
<div class="content-header back col-12 mb-1 mt-1">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="content-header-title">Demande d'abonnement</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/home">Accueil</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Services</a>
                    </li>
                    <li class="breadcrumb-item active">Abonnement
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="row">
        <div class="col-sm-12">
            <!-- What is-->
            <div id="what-is" class="card mb-0">
                <div class="card-header">
                    <h4 class="card-title">Consulter vos demandes</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline">
                            <li>
                                <a routerLink="/services/new-subscription-request">
                                    <i class="fa fa-plus"></i> Nouvelle demande d'abonnement</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <div class="float-left">
                                            <app-filter (onfilterChanged)="pageFilter($event)"></app-filter>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered "
                                       sortable-table (sorted)="onSorted($event)"
                                       filterable-table (filtred)="onFiltred($event)">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col">{{'Nº demande' | translate }}
                                            <span sortable-column="requestNumber"></span>
                                            <span filterable-column="requestNumber" filter-type="text"
                                                  filter-placeholder="{{'Nº demande' | translate }}"></span>
                                        </th>
                                        <th scope="col">{{'Créée le' | translate }}
                                            <span sortable-column="createdAt"></span>
                                            <span filterable-column="createdAt" filter-type="date"
                                                  filter-placeholder="{{'Créée le' | translate }}"></span>
                                        </th>
                                        <th scope="col">{{'Type' | translate }}
                                            <span sortable-column="type"></span>
                                            <span filterable-column="type" filter-type="text"
                                                  filter-placeholder="{{'Type' | translate }}"></span>
                                        </th>
                                        <th scope="col">{{'Status' | translate }}
                                            <span sortable-column="status"></span>
                                            <span filterable-column="status" filter-type="select"
                                                  [filter-select-data]="statusFilter"
                                                  filter-placeholder="{{'Status' | translate }}"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <app-data-not-available
                                            *ngIf="!subscriptionRequests || subscriptionRequests.length == 0; else dataAvailable"
                                            [colSpan]="4"></app-data-not-available>
                                    <ng-template #dataAvailable>
                                        <tr *ngFor="let request of subscriptionRequests">
                                            <td><a [routerLink]="['/services/subscription-detail/', request.id]"><b>{{request.requestNumber}}</b></a>
                                            <td>{{request.createdAt | date:'dd-M-yyyy'}}</td>
                                            <td>{{request.type}}</td>
                                            <td>
                                                <app-badge [status]="request.status"></app-badge>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    </tbody>
                                </table>
                                <app-pagination [disabled]="false"
                                                [numberOfItems]="numberOfItems"
                                                [itemsPerPage]="itemsPerPage"
                                                [totalItems]="totalElements"
                                                [totalPages]="totalPages"
                                                (onpageChanged)="pageChanged($event)"></app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ What is-->
            </div>
        </div>
    </section>
</div>
