<div class="container container-login">
    <div class="auth-container">
        <app-navbar></app-navbar>
        <app-second-navbar></app-second-navbar>
        <!--Tooltip Starts-->
        <div class="content-body">
            <section>
                <div id="what-is" class="mb-0">
                    <div class="app-content center-layout">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <aw-wizard #wizard class="custom-css" [navBarLayout]="'large-empty-symbols'"
                                           [navigationMode]="'strict'">
                                    <aw-wizard-step [stepTitle]="'Identification'"
                                                    [navigationSymbol]="{ symbol: '&#xe090;', fontFamily:'Simple-line-icons' }"
                                                    class="offset-md-1 col-md-10">
                                        <form [formGroup]="firstStep" novalidate>
                                            <div class="mx-auto my-5">
                                                <h6 class="mb-2">{{'REGISTER_STEP_ONE_TITLE' | translate}} :</h6>
                                                <section>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="lastname">{{'LAST_NAME' | translate}}:
                                                                    <span class="danger">*</span>
                                                                </label>
                                                                <input formControlName="lastname" type="text"
                                                                       id="lastname"
                                                                       class="form-control required"/>
                                                                <div class="text-danger"
                                                                     *ngIf="!firstStep.controls['lastname'].valid && firstStep.controls['lastname'].touched">
                                                                    <div *ngIf="firstStep.controls['lastname'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstname">{{'FIRST_NAME' | translate}} :
                                                                    <span class="danger">*</span>
                                                                </label>
                                                                <input formControlName="firstname" type="text"
                                                                       id="firstname"
                                                                       class="form-control required">
                                                                <div class="text-danger"
                                                                     *ngIf="!firstStep.controls['firstname'].valid && firstStep.controls['firstname'].touched">
                                                                    <div *ngIf="firstStep.controls['firstname'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone">{{'PHONE' | translate}} :
                                                                    <span class="danger">*</span>
                                                                </label>
                                                                <input formControlName="phone" type="tel" id="phone"
                                                                       class="form-control required">
                                                                <div class="text-danger"
                                                                     *ngIf="!firstStep.controls['phone'].valid && firstStep.controls['phone'].touched">
                                                                    <div *ngIf="firstStep.controls['phone'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="address">{{'ADDRESS' | translate}} :
                                                            <span class="danger">*</span>
                                                        </label>
                                                        <textarea formControlName="address" id="address"
                                                                  class="form-control required" rows="4"></textarea>
                                                        <div class="text-danger"
                                                             *ngIf="!firstStep.controls['address'].valid && firstStep.controls['address'].touched">
                                                            <div *ngIf="firstStep.controls['address'].errors.required">
                                                                {{'FIELD_REQUIRED' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="text-right">
                                                <button [disabled]="firstStep.invalid" type="button"
                                                        class="btn btn-primary" awNextStep>{{'next' | translate}}
                                                </button>
                                            </div>
                                        </form>
                                    </aw-wizard-step>


                                    <aw-wizard-step [stepTitle]="'CONFIRMATION' | translate"
                                                    [navigationSymbol]="{ symbol: '&#xe003;', fontFamily:'Simple-line-icons' }"
                                                    class="offset-md-1 col-md-10">
                                        <form [formGroup]="secondStep" novalidate>
                                            <div class="mx-auto my-5">
                                                <h6 class="mb-2">
                                                    {{'REGISTER_STEP_TWO_TITLE' | translate}} :</h6>
                                                <section>
                                                    <div class="form-group">
                                                        <label for="username">{{'MAIL' | translate}} :
                                                            <span class="danger">*</span></label>
                                                        <input formControlName="username" type="text" id="username"
                                                               class="form-control required">
                                                        <div class="text-danger"
                                                             *ngIf="!secondStep.controls['username'].valid && secondStep.controls['username'].touched">
                                                            <div *ngIf="secondStep.controls['username'].errors.required">
                                                                {{'FIELD_REQUIRED' | translate}}
                                                            </div>
                                                            <div *ngIf="secondStep.controls['username'].errors.pattern">
                                                                {{'THE_EMAIL_IS_INVALID' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="password">{{'PASSWORD' | translate}} :
                                                                    <span class="danger">*</span></label>
                                                                <input formControlName="password" type="password"
                                                                       id="password"
                                                                       class="form-control"/>
                                                                <div class="text-danger"
                                                                     *ngIf="!secondStep.controls['password'].valid && secondStep.controls['password'].touched">
                                                                    <div *ngIf="secondStep.controls['password'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="confirmPassword">{{'CONFIRM_THE_PASSWORD' |
                                                                    translate}} :
                                                                    <span class="danger">*</span></label>
                                                                <input formControlName="confirmPassword" type="password"
                                                                       id="confirmPassword"
                                                                       class="form-control">
                                                                <div class="text-danger"
                                                                     *ngIf="!secondStep.controls['confirmPassword'].valid && secondStep.controls['confirmPassword'].touched">
                                                                    <div *ngIf="secondStep.controls['confirmPassword'].errors.MatchPassword">
                                                                        {{'THE_TWO_PASSWORDS_ARE_NOT_IDENTICAL'
                                                                        | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="registrationQuestions">
                                                            {{'SELECT_A_QUESTION' | translate}} :
                                                            <span class="danger">*</span></label>
                                                        <select formControlName="registrationQuestions"
                                                                id="registrationQuestions"
                                                                class="form-control">
                                                            <option value="" disabled>
                                                                {{'SELECT_OPTION' | translate}}
                                                            </option>
                                                            <option *ngFor="let question of registrationQuestions"
                                                                    value="{{question.id}}">{{question.question}}
                                                            </option>
                                                        </select>
                                                        <div class="text-danger"
                                                             *ngIf="!secondStep.controls['registrationQuestions'].valid && secondStep.controls['registrationQuestions'].touched">
                                                            <div *ngIf="secondStep.controls['registrationQuestions'].errors.required">
                                                                {{'FIELD_REQUIRED' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>{{'YOUR_ANSWER' | translate}} :
                                                            <span class="danger">*</span></label>
                                                        <fieldset class="form-group position-relative">
                                                            <input type="text" formControlName="answer"
                                                                   class="form-control"
                                                                   placeholder="{{'YOUR_ANSWER' | translate}} ..">
                                                        </fieldset>
                                                        <div class="text-danger"
                                                             *ngIf="!secondStep.controls['answer'].valid && secondStep.controls['answer'].touched">
                                                            <div *ngIf="secondStep.controls['answer'].errors.required">
                                                                {{'FIELD_REQUIRED' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 text-left">
                                                    <button type="button" class="btn btn-secondary" awPreviousStep>
                                                        {{'BACK' | translate}}
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <button type="button" class="btn btn-primary next"
                                                            [disabled]="secondStep.invalid"
                                                            awNextStep>{{'Next' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </aw-wizard-step>


                                    <aw-wizard-step [stepTitle]="'Infos du compte'"
                                                    [navigationSymbol]="{ symbol: '&#xe060;', fontFamily:'Simple-line-icons' }"
                                                    class="offset-md-1 col-md-10">
                                        <form [formGroup]="thirdStep" novalidate>
                                            <div class="mx-auto my-5">
                                                <h6 class="mb-2">{{'REGISTER_STEP_THREE_TITLE' | translate}} :</h6>

                                                <section>
                                                    <div class="form-group">
                                                        <label for="numeroContrat" class="control-label">{{'CONTRACT_NUMBER'
                                                            | translate}}</label>
                                                        <input formControlName="numeroContrat" id="numeroContrat"
                                                               class="form-control required"/>
                                                        <div class="text-danger"
                                                             *ngIf="!thirdStep.controls['numeroContrat'].valid && thirdStep.controls['numeroContrat'].touched">
                                                            <div *ngIf="thirdStep.controls['numeroContrat'].errors.required">
                                                                {{'FIELD_REQUIRED' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="numeroFacture" class="control-label">
                                                                    {{'BILL_NUMBER' | translate}}<span
                                                                        class="danger">*</span></label>
                                                                <input formControlName="numeroFacture"
                                                                       id="numeroFacture"
                                                                       class="form-control required"/>
                                                                <div class="text-danger"
                                                                     *ngIf="!thirdStep.controls['numeroFacture'].valid && thirdStep.controls['numeroFacture'].touched">
                                                                    <div *ngIf="thirdStep.controls['numeroFacture'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="monthNumber" class="control-label">
                                                                    {{'MONTH' | translate}}
                                                                    <span class="danger">*</span></label>
                                                                <select id="monthNumber" formControlName="month"
                                                                        class="form-control" required>
                                                                    <option value="" disabled selected>Choisir un mois
                                                                    </option>
                                                                    <option class="month"
                                                                            *ngFor="let item of [].constructor(12); let i = index"
                                                                            [value]="i+1">{{i+1}}
                                                                    </option>
                                                                </select>
                                                                <div class="text-danger"
                                                                     *ngIf="!thirdStep.controls['month'].valid && thirdStep.controls['month'].touched">
                                                                    <div *ngIf="thirdStep.controls['month'].errors.required">
                                                                        {{'FIELD_REQUIRED' | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div>
                                                    <input id="conditions" type="checkbox"
                                                           (change)="setCheckbox()"/>
                                                    <label for="conditions" class="cursor-pointer">
                                                        &nbsp;{{'I_ACCEPT' | translate}}</label>
                                                    <a class="term-of-use" (click)="showModal(termOfuse, null)">
                                                        {{'THE_GENERAL_CONDITIONS_OF_USE' | translate}}.</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 text-left">
                                                    <button type="button" class="btn btn-secondary" awPreviousStep>
                                                        {{'BACK' | translate}}
                                                    </button>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <button [disabled]="thirdStep.invalid || !checkbox" type="button"
                                                            (click)="generateRecap()"
                                                            class="btn btn-primary next"
                                                            awNextStep>{{'Next' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </aw-wizard-step>

                                    <aw-wizard-completion-step [stepTitle]="'VALIDATION' | translate"
                                                               awEnableBackLinks
                                                               [navigationSymbol]="{ symbol: '&#xe080;', fontFamily:'Simple-line-icons' }"
                                                               class="offset-md-1 col-md-10">
                                        <div class="mx-auto my-5">
                                            <h6 class="mb-2">{{'REGISTER_STEP_FOUR_TITLE' | translate}}.</h6>
                                            <section>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'LAST_NAME' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.lastname}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'FIRST_NAME' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.firstname}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'PHONE' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.phone}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'MAIL' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.email}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'ADDRESS' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.address}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'CONTRACT_NUMBER' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.numeroContrat}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'BILL_NUMBER' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.numeroFacture}}</div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="font-weight-bold">{{'MONTH' |
                                                                translate}}</label>
                                                            <div class="text-muted">{{clientRecap?.selectedMonth}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                <button type="button" class="btn btn-secondary" awPreviousStep>
                                                    {{'BACK' | translate}}
                                                </button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-primary btn-subscribe"
                                                        (click)="registerUser()"
                                                        awNextStep>{{'SIGN_UP' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </aw-wizard-completion-step>
                                </aw-wizard>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<ng-template #termOfuse>
    <section style="height: 80vh; overflow-y: scroll">
        <app-term-of-use [hideNavigation]="true"></app-term-of-use>
    </section>
</ng-template>
