<p>
  contrats works!
</p>
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="col-md-2">
    Sidebar
  </div>
  <div class="offset-3 col-md-8 my-5">
    <div class="my-5">
      <h4>Mes contrats</h4>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nº contrat</th>
        <th scope="col">Etat contrat</th>
        <th scope="col">Adresse facturation</th>
        <th scope="col">Derniere consomation</th>
        <th scope="col">Derniere facture</th>
        <th scope="col">Derniere a payer</th>
        <th scope="col">Historique de consomation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Eau</td>
        <td>Test</td>
        <td>Test Test Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Electricité</td>
        <td>Test</td>
        <td>Test Test Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
